.info-text{
    color:white;
    text-align: center;
    margin-top: 10px;;
  }
  .sign-up{
    background-color:#E5FF70 ;
    color:black;
    border: 2px solid black;
    font-weight: 600;
    font-size: 1rem;
    padding:8px 50px 8px 50px;
    margin-top: 10px;
  }
  .info-heading{
    margin-top: 25px;
  }
  .info-facebook{
    color:#425F9C;
    margin-top: 10px;
  }
  .fb-icon{
    width:30px;
    height: 30px;
    border-radius: 5px;
  
  }
  .lower-page{
    margin-top: 300px;
  }
  
  .info-lowertext{
    color:white;
    text-align: left;
  }
  .store-btn{
    background-color: transparent;
    border: 2px solid white;
    color:white;
    margin:5px; 
    padding:5px 20px 5px 20px;
    font-size:1.25rem;
  }