.info-text {
  color: white;
  text-align: center;
  margin-top: 10px;
}

.info-heading {
  margin-top: 25px;
}

.info-facebook {
  color: #425f9c;
  margin-top: 10px;
}

.fb-icon {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  margin-right: 5px;
}

.lower-page {
  margin-top: 100px;
}

.info-lowertext {
  color: white;
  text-align: left;
}

.disclaimer {
  margin: 2em auto;
  text-align: justify;
}

.signup-content {
  justify-content: center;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .col-md-6 {
    max-width: 80%;
  }
}
