.info-text {
  color: white;
  text-align: center;
  margin-top: 10px;
}

.info-heading {
  margin-top: 25px;
}

.info-facebook {
  color: #425F9C;
  margin-top: 10px;
}

.fb-icon {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  margin-right: 5px;
}

.lower-page {
  margin-top: 100px;
}

.info-lowertext {
  color: white;
  text-align: left;
}

.disclaimer {
  margin: 2em auto;
  text-align: justify;
}

.signup-content {
  justify-content: center;
}


