.look {
  color: white;
  padding: 5px 20px 5px 20px;
  font-weight: 400;
  border: 2px solid white;
}

.text-right {
  margin-top: 15px;
}

.dropdown-menu {
  width: 190px;
  height: 210px;
}

.flag-position>i {
  font-size: 2rem;
  margin-left: 6px;
  margin-top: 0px;
}

.dropdown-item {
  width: 100%;
}

.dropdown-item:hover {
  background-color: white;
}

p {
  margin-block-end: 0px;
}