<div class="col-md-12 text-right">
  <div ngbDropdown class="d-inline-block">
    <button class="btn btn-outline-primary look" id="dropdownBasic1" ngbDropdownToggle><i
        class="globe icon"></i></button>
    <div ngbDropdownMenu="dropdownBasic1">
      <p ngbDropdownItem class="flag-position">
        <i class="andorra flag"></i>
        <i class="belgium flag"></i>
        <i class="brazil flag"></i>
        <i class="canada flag"></i>
      </p>
      <p ngbDropdownItem class="flag-position">
        <i class="uae flag"></i>
        <i class="central african republic flag"></i>
        <i class="switzerland flag"></i>
        <i class="costa rica flag"></i>
      </p>
      <p ngbDropdownItem class="flag-position">
        <i class="australia flag"></i>
        <i class="cuba flag"></i>
        <i class="germany flag"></i>
        <i class="denmark flag"></i>
      </p>
      <p ngbDropdownItem class="flag-position">
        <i class="egypt flag"></i>
        <i class="spain flag"></i>
        <i class="france flag"></i>
        <i class="england flag"></i>
      </p>
      <p ngbDropdownItem class="flag-position">
        <i class="greece flag"></i>
        <i class="hong kong flag"></i>
        <i class="hungary flag"></i>
        <i class="ireland flag"></i>
      </p>
      <p ngbDropdownItem class="flag-position">
        <i class="india flag"></i>
        <i class="iraq flag"></i>
        <i class="indian ocean territory flag"></i>
        <i class="italy flag"></i>
      </p>
      <p ngbDropdownItem class="flag-position">
        <i class="japan flag"></i>
      </p>
    </div>
  </div>
</div>
