<div class="container">
    <div>
        <app-nav-bar></app-nav-bar>
        <br><br>
        <app-play-bar></app-play-bar>
        <br>
    </div>
    <div class="folder">
        <div class="row ">
            <!-- Path Information & Picture -->
            <div class="col-md-6 display pad-left small card-title color-tx-maroon no-bottom-margin">
                <div class="color-tx-green">
                    <i class="home icon"></i>
                    <a class=""> Breeding Farm &nbsp;</a>
                    <i class="angle double right icon"> </i>
                </div>
                <a class=""> My Horses &nbsp;</a>
                <i class="angle double right icon "> </i>
                <a class="">Gaia {{ horse?.name }} &nbsp;</a>
                <i class="angle double right icon "> </i>
                <a class=""> Register for a trot competition</a>
            </div>
            <img class="col-sm-5 image" src="./assets/images/game_pieces/Competition.png">
        </div>
        <div class="">
            <!-- Title & Description -->
            <div class="col-md-6 pad-left color-tx-maroon ">
                <hr class="hrtop">
                <h3 class="no-top-margin display card-title">Register for a trot competition</h3>
                <div class="color-tx-green no-top-margin">
                    <p>For races, horses need to be good in speed and dressage, and excel in trotting. </p>
                </div>
            </div>
        </div>
        <!-- Title End -->
        <div class="">
            <!-- competition stats for horse entering-->
            <div class="col-sm-5 pad-left color-tx-maroon ">
                <div class="mycard-light-green td-top">
                    <div class="h6 sm-card no-bottom-margin td-line">
                        <H5 class="pad-left card-title">Gaia {{ horse?.name }}</H5>
                    </div>
                    <div>

                    </div>
                    <div class="color-tx-green card-title ">
                        <table class="">
                            <tr>
                                <td class="tu-col1">Trot:</td>
                                <td class="tu-col2 sm-card">
                                    <ngb-rating class="gold-color" [formControl]="ctrl" [rate]="(horse?.trot)" [readonly]="readonly"></ngb-rating>
                                </td>
                                <td class="tu-col3">{{ horse?.trot }}</td>
                            </tr>
                            <tr>
                                <td class="tu-col1">Speed:</td>
                                <td class="tu-col2 sm-card">
                                    <ngb-rating class="gold-color" [formControl]="ctrl" [rate]="(horse?.speed)" [readonly]="readonly"></ngb-rating>
                                </td>
                                <td class="tu-col3">{{ horse?.speed }}</td>
                            </tr>
                            <tr>
                                <td class="tu-col1">Dressage:</td>
                                <td class="tu-col2 sm-card">
                                    <ngb-rating class="gold-color" [formControl]="ctrl" [rate]="(horse?.dressage)" [readonly]="readonly"></ngb-rating>
                                </td>
                                <td class="tu-col3">{{ horse?.dressage }}</td>
                            </tr>
                            <tr>
                                <td class="tu-col1">Energy:</td>
                                <td class="sm-card">&nbsp; {{ horse?.energy }}</td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Stats End -->
        <div class="">
            <!-- Lower Competion table-->
            <div class="col-md-12 pad-left ">
                <div class="display">
                    <input type="checkbox">
                    <p class="color-tx-green"> Show competitions for low-level horses</p>
                </div>
                <h5 class="color-tx-maroon card-title">Competitions open to all horses</h5>
                <div class="mytable-light-green ">
                    <table class="td-top">
                        <tr class="sm-card td-line">
                            <th class="card-title tl-col1">Name</th>
                            <th class="card-title tl-col3">Kitty</th>
                            <th class="card-title tl-col3">Difficulty</th>
                            <th class="card-title tl-col2">Participants</th>
                            <th class="card-title tl-col3">Ranks</th>
                            <th class="card-title tl-col3">Energy</th>
                            <th class="card-title tl-col4"> </th>
                        </tr>
                        <tr class="color-tx-green">
                            <td class="tl-col1">Ow's Grand Prix</td>
                            <td class="card-title"> 500
                                <img class="equus" src="./assets/images/game_pieces/equus.png">
                            </td>
                            <td class="card-title tl-col3">17.00%</td>
                            <td class="card-title tl-col1">
                                <table>
                                    <td class="display-vert"> <i class="caret right icon"> </i> Arizona</td>
                                    <td class="display-vert"> <i class="caret right icon"> </i> Cookie</td>
                                    <td class="display-vert"> <i class="caret right icon"> </i> Pistache</td>
                                    <td class="display-vert"> <i class="caret right icon"> </i> Tornade</td>
                                </table>
                            </td>
                            <td class="card-title tl-col3">1</td>
                            <td class="card-title">12.0 %</td>
                            <td class="tl-col4">
                                <button class="btn-shops btn-shops-lrg">Participate</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- folder end-->
    <br><br>
    <app-footer></app-footer>
</div>