.h6 {
    padding: 5px 0 5px 0;
    color: maroon;
}
p {
    margin-bottom: 5px;
}

.centered {
    align-self: center;
}

.sm-card {
    background-color: #DCDB81;
    border-style: solid 2px olive;
}

.image {
    margin-left: 67px;
}

.pad-left { /* common spacing to set left margin in folder */
    margin-left: 1rem;
    margin-top: 2 rem;
}

.display {
    display: flex;
    margin-top: 5px;
}

.display-vert {
    display: block;
    margin: -2px 0;
}

.hrtop {
    margin-top: -100px;
    margin-bottom: 2px;
    width: 450px;
    margin-left: -3px;
}

/* Upper Table */
td .td-top {
    border: 2px solid rgb(228, 226, 153);
  }

.tu-col1 {
    width: 95px;
    padding-left: 5px;
  }

.tu-col2 {
    width: 205px;
}

.tu-col3 {
    width: 85px;
    padding-right:10px;
    text-align: end;
}

/* Lower Table */
.tl-col1 {
    width: 200px;
    padding-left: 5px;
  }

  .tl-col2 {
    width: 200px;
    text-align: center;
  }

  .equus {
      width: 25%;   
  }

  .tl-col3 {
    width: 100px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .tl-col4 {
    width: 130px;
    padding-left: 5px;
    padding-right: 5px;
  }


/* from Dave's */
.gold-color {
    color: gold;
}

.mycard-light-green {
    background-color: #F0F0B2;
    color: #663300;
    border-style: solid 2px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.mytable-light-green {
    background-color: #F0F0B2;
    color: maroon;
    width: 930px;
    border-style: solid 2px;
    border-radius: 5px;
    border-color: olive;
}

.card-title {
    font-weight: bold;
}

.card-title-border {
    border: 2px solid #BEBD58;
}


.no-top-margin {
    margin-top: 0px;
}

.no-bottom-margin {
    margin-bottom: 0px;
}

