<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <app-nav-bar></app-nav-bar>
            <br><br>
            <app-play-bar></app-play-bar>
            <br>
        </div>
    </div>
    <div class=" folder">  <!-- <img src="../../assets/folder.svg"> -->        
        <div class="row "> <!-- Path Information -->
            <div class="col-md-6 display pad-left color-tx-maroon small card-title">
                <i class="home icon "></i>
                <a class=""> Breeding Farm &nbsp;</a>
                <i class="angle double right icon"> </i>
                <a class=""> My Horses &nbsp;</a>
                <i class="angle double right icon"> </i>
                <a class=""> name &nbsp;</a>
                <i class="angle double right icon"> </i>
                <a class=""> Register for a trot competition</a>
            </div>
            <img class="col-sm-4" src="./assets/images/black-store/marche-noir.png">
        </div>
        <div class="row">   
            <div class="col-md-6 pad-left color-tx-maroon">
                <hr class="hrtop">
                <h3 class="no-top-margin display">Register for a trot competition</h3>
                <div class="color-tx-green no-top-margin">
                    <p>For races, horses need to be good in speed and dressage, and excel in trotting. </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 pad-left color-tx-maroon">
                <div class="mycard-light-green">
                    <div>
                        <H6 class="pad-left">name</H6>
                    </div>
                    <div class=" color-tx-green card-title">
                        <div>
                            <table>

                                <tr>
                                    <td>Trot:</td>
                                    <td>S T A R S</td>
                                    <td>1000.00</td>
                                </tr>
                                <tr>
                                    <td>Speed:</td>
                                    <td>S T A R S</td>
                                    <td>1001.00</td>
                                </tr>
                                <tr>
                                    <td>Dressage:</td>
                                    <td>S T A R S</td>
                                    <td>1002.00</td>
                                </tr>
                                <tr>
                                    <td>Energy:</td>
                                    <td>100.0 %</td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                    </div>
            </div>
        </div>
        <br><br>
    <app-footer></app-footer>
    <br><br>
    <p>Sample button to use</p>
    <button class="btn-shops btn-shops-lrg">Participate</button>
    <button class="btn-shops btn-shops-sml"><i class="shopping cart icon "></i></button>
    <br><br>
      
</div>     
      


