.pad-left { /* common spacing to set left margin in folder */
    margin-left: 1rem;
    margin-top: 2 rem;
}

.display {
    display: flex;
    margin-top: 5px;
}

.hrtop {
    margin-top: -100px;
    margin-bottom: 2px;
    width: 450px;
    margin-left: -3px;
}

table, td {
    border: 2px solid rgb(231, 230, 163);
  }
  
/* from Dave's */
.gold-color {
    color: gold;
}

.mycard-light-green {
    background-color: #F0F0B2;
    color: #663300;
}

.card-title {
    font-weight: bold;
}

.card-title-border {
    border: 2px solid #BEBD58;
}


.no-top-margin {
    margin-top: 0px;
}

.no-bottom-margin {
    margin-bottom: 0px;
}


