<div class="container">
    <app-nav-bar></app-nav-bar>
    <br><br>
    <app-play-bar></app-play-bar>
    <br>
    <div class=" folder">  <!-- <img src="../../assets/folder.svg"> -->        
        <div class="row "> <!-- Path Information -->
            <div class="col-md-6 display pad-left color-tx-maroon small ">
                <i class="home icon "></i>
                <a> Breeding Farm &nbsp;</a>
                <i class="angle double right icon"> </i>
                <a> My Horses &nbsp;</a>
                <i class="angle double right icon"> </i>
                <a> {{name}} &nbsp;</a>
                <i class="angle double right icon"> </i>
                <a> Register for a trot competition</a>
            </div>
            <hr class="hr">
        </div>
        <div class="row">
            <div class="col-md-6 pad-left color-tx-maroon">
                <h3 class="">Register for a trot competition</h3>
            </div>
        </div>
    
        <div class="row">
        <div class="col-md-6 pad-left color-tx-green">
            <p>For races, horses need to be good in speed and dressage, and excel in trotting. </p>
            <img src="\assets\images\store-page\store left side.png" alt="">
        </div>
    </div>
      
      
      
    <br><br>
    <app-footer></app-footer>
    <br><br>
    <p>Sample button to use</p>
    <button class="btn-shops btn-shops-lrg">Participate</button>
    <button class="btn-shops btn-shops-sml"><i class="shopping cart icon "></i></button>
    <br><br>
</div>
