<div class="container footer-bkgrd">
    <div>
        <div>
            <ul class="ui label icon-size">
                <a href="https://www.facebook.com/Howrse"><i class="facebook icon icon-size"></i></a>
                <a href="https://www.youtube.com/channel/UCyuNqsa6Gz_XRHWFf3MI45g"><i class="youtube icon icon-size"> </i></a>
                <a href="https://twitter.com/Howrse"><i class="twitter icon icon-size"></i></a>
                <a href="https://www.instagram.com/howrse_official/"><i class="instagram icon icon-size"></i></a>
            </ul>
        </div>
        <div class="ui horizontal list footer-bkgrd">
            <a class="item footer-font" href="https://www.owlient.com/tou/ca">Terms of Use</a>
            <a class="item footer-font" href="https://www.owlient.com/pp/ca">Privacy Policy</a>
            <a class="item footer-font">Sales Terms</a>
            <a class="item footer-font" href="https://www.owlient.com/eula/ca">End User License Agreement</a>
            <a class="item footer-font">Legal Details</a>
            <a class="item footer-font">Contact Us</a>
          </div>
          <br><br>
    </div>
</div>
