<div class="footer-bkgrd">
    <div >
        <br>
        <div class="">
            <ul class="ui label footer-bkgrd">
                <i class="facebook icon icon-size"></i>
                <i class="youtube icon icon-size"></i>
                <i class="twitter icon icon-size"></i>
                <i class="instagram icon icon-size"></i>
            </ul>
        </div>
        <div class="ui horizontal list footer-bkgrd">
            <a class="item footer-font">Terms of Use</a>
            <a class="item footer-font">Privacy Policy</a>
            <a class="item footer-font">Sales Terms</a>
            <a class="item footer-font">End User License Agreement</a>
            <a class="item footer-font">Legal details</a>
            <a class="item footer-font">Contact Us</a>
          </div>
          <br><br>
    </div>
</div>
