<div class="container">
  <div>
    <app-nav-bar></app-nav-bar>
    <br><br>
    <app-play-bar></app-play-bar>
  </div>
  <div class=" folder">
      <div class="row">
        <div class="col-md-6">
          <p>Trade >> Store</p>
          <div class="ui divider"></div>
        </div>
      
        <div class="col-md-1"></div>
        <div class="col-md-5">
          <img class="background" src="\assets\images\store-page\store_barn2.png">
        </div>
      </div>

      <div class="row second-row">
        <div class="sto-hed col-md-4">
          <h2 class="">The Store</h2>
        </div>
      </div>
      
      <div class="row">
        <div class="sto-desc col-md-5">
          <p>In this store, you will find everything you need to take care of your horses and manage your Equestrian Center. </p>
          <img src="assets\images\game_pieces\equus.png" alt="">
          <h3>Sell Items</h3>
          <img class="left-side" src="\assets\images\store-page\store_left_side.png" alt="">
          <button class="btn-shops btn-shops-sml"><i class="shopping cart icon "></i></button>   
        </div>
        <div class="col-md-1"></div>
        <div class=" col-md-5 black_market">
          <h5>My Items</h5>
          <a routerLink="/bmarket-page"><img class="left-side" src="\assets\images\store-page\store_right_side_black_market_tab.png" alt=""></a>
          <img src="./assets/images/black-store/marche-noir.png">
        </div>
      </div>
  </div>
  <br><br>
  <app-footer></app-footer>
</div>