<div class="container">
  <app-nav-bar></app-nav-bar>
  <br><br>
  <app-play-bar></app-play-bar>
  <br>
  <div class="ui two column folder">
      <div class="column"> <!-- <img src="../../assets/folder.svg"> -->
        <div class="ui three column grid">
          <div class=""></div>
            <div class="row">
                <img src="assets/images/game_pieces/equus.png">
                <p>Classic "Alamo" style saddle - 498 coins - in stock</p>
            </div>
          <div class="column"></div>
        </div>
      </div>
      <div class="column"></div>
      <div class="column"></div>
      <div class="column">
        <div class="ui grid">
          <div class="ten wide column"></div>
          <div class="six wide column"></div>
        </div>
      </div>
    </div>
    <br>
  <app-footer></app-footer>
  <br><br>
  <p>Sample button to use</p>
  <button class="btn-shops btn-shops-sml"><i class="shopping cart icon "></i></button>
  <br><br>
</div>