.folder {
  margin-top: 50px;
}


.btn-shops {
  width: 94px;
}

.margin {
  margin-bottom: 5px;
}

.scrolling-wrapper {
  overflow-x: hidden;
  overflow-y: scroll;
  white-space: wrap;
  display: grid;
  text-align: left;
}

.scroll-height[_ngcontent-rou-c121] {
  max-height: 185px;
  width: 420px;
}

.sto-hed {
  margin: 5px 0 0 15px;
}

.image {
  width: 25%;
}

.sto-desc {
  margin-left: 15px;
}

.black_market {
  margin-top: 80px;
}

.background {
  width: 100%;
  margin-top: -20px;
}

.second-row {
  margin-top: -100px;
}

.left-side {
  width: 100%;
}

@media (max-width: 575.98px) {
  .background {
    width: 98%;
    opacity: 88%;
    padding-bottom: 22%;
    margin-left: 1%;
  }

  .center {
    margin-left: 3%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .background {
    width: 98%;
    opacity: 88%;
    padding-bottom: 22%;
    margin-left: 1%;
  }

  .center {
    margin-left: 3%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .sto-hed {
    margin: 90px 0 0 10px;
  }

  .center {
    margin-left: 3%;
  }

  .background {
    display: none;
  }

  .size {
    margin-left: -22%;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .sto-hed {
    margin: 90px 0 0 10px;
  }

  .center {
    margin-left: 3%;
  }

  .background {
    display: none;
  }
}
