.test {
    width: 990px;
    margin-left: auto;
    margin-right: auto;
    height: 480px;
    background: url("../../assets/folder.svg") no-repeat;
    background-clip: content-box;
    background-size: 100%;
}
