.folder
{   
  margin-top:50px;
}

.sto-hed
{
  margin:5px 0 0 15px; 
}
.sto-desc
{
  margin-left: 15px;
}

.black_market
{   
  margin-top:90px;
}

.background {
width:100%;
margin-top: -20px;
}

.second-row  {
  margin-top: -100px;
}
.left-side{
  width:100%;
}