<app-nav-bar></app-nav-bar>
<app-play-bar></app-play-bar>

<div class="ui two column grid folder">
    <div class="column">
      <div class="ui three column grid">
        <!-- <img src="../../assets/folder.svg"> -->
        <div class="column"></div>
        <div class="column">
            <img src="\assets\images\store-page\hiclipart.com.png">
            <p>Classic "Alamo" style saddle - 498 coins - in stock</p>
        </div>
        <div class="column"></div>
      </div>
    </div>
    <div class="column">></div>
    <div class="column"></div>
    <div class="column">
      <div class="ui grid">
        <div class="ten wide column"></div>
        <div class="six wide column"></div>
      </div>
    </div>
  </div>

<app-footer></app-footer>
<br><br>
<button class="btn-shops btn-shops-sml"><i class="shopping cart icon "></i></button>
<br><br>