<!-- <div> -->
<li ngbDropdown class=" ">
    <a href (click)="(false)" class="nav-link nav-btn1" ngbDropdownToggle>
        <img class="padding" class="img-size3" src="./assets/images/tack-page/saddle-btn.PNG " />
    </a>
    <div ngbDropdownMenu class="drop-box" id="">
        <div class="popup color-beige">
            <button ngbDropdownItem class="hover-box disabled">
          <div class="inline-flex">
            <div class="inline-block">
              <div class="padding">
                <h5 class="color-tx-maroon">Equip my horse</h5>
              </div>
              <div class="inline-flex">
                <img src="./assets/images/tack-page/hat.PNG " />

                <h6 class="color-tx-green">
                  needs a Western saddle blanket, saddle and bridle in order to
                  enter competitions.
                </h6>
              </div>
              <div class="ui grid">
                <div class="four wide column">
                  <div class="ui vertical fluid tabular menu">
                    <a class="item title-box color-dark-beige active">
                      <p class="color-tx-maroon">
                        Competitions
                      </p>
                    </a>
                    <a class="item active color-light-beige">
                      Saddle Blanket
                    </a>
                    <a class="selected-saddel item active">
                      Saddle
                    </a>
                    <a class="item active">
                      Bridle
                    </a>
                    <a class="item title-box color-dark-beige active">
                      <p class="color-tx-maroon">Bonuses</p>
                    </a>
                    <a class="item active">
                      Polo wraps
                    </a>
                    <a class="item active">
                      Ear Bonnet
                    </a>
                  </div>
                </div>
                <div class="twelve wide stretched column">
                  <div class="ui segment">
                    <h6 class="color-tx-maroon">Template:</h6>
                    <p class="color-tx-green">
                      is already wearing: Saddle
                    </p>
                    <div class="ui four cards">
                      <div class="inline-block">
                        <a class="olive card">
                          <div class=" ">
                            <img class="img-size2" src="./assets/images/tack-page/dark-brown-saddle.PNG "/>
                          </div>
                        </a>
                        <button class="btn-shops btn-shops-sml btn-postion">
                          <i class="shopping cart icon"></i>
                        </button>
        </div>
        <div class="inline-block">
            <a class="olive card">
                <div class=" ">
                    <img class="img-size2" src="./assets/images/tack-page/brown-saddle.PNG " />
                </div>
            </a>
            <button class="btn-shops btn-shops-sml btn-postion">
                          <i class="shopping cart icon"></i>
                  </button>
        </div>
        <div class="inline-block">
            <a class="olive card">
                <div class=" ">
                    <img class="img-size2" src="./assets/images/tack-page/black-saddle.PNG " />
                </div>
            </a>
            <button class="btn-shops btn-shops-sml btn-postion">
                          <i class="shopping cart icon"></i>
                  </button>
        </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class=" ">
        <img class="img-size1" src="./assets/images/tack-page/horse-tack.PNG " />
    </div>
    </div>
    </button>
    </div>
    </div>
</li>
<!-- </div> -->