<div>
    <li ngbDropdown class=" ">
        <a href (click)="(false)" class="nav-link tack-btn" ngbDropdownToggle>
            <img class="padding" class="img-saddle-btn" src="./assets/images/tack-page/saddle-btn.PNG " />
        </a>
        <div ngbDropdownMenu class="drop-box" id="">
            <div class="popup color-beige">
                <button ngbDropdownItem class="hover-box disabled">
            <div class="inline-flex">
              <div class="inline-block">
                <div class="padding">
                  <h5 class="color-tx-maroon top equiph5">Equip my horse</h5>
                </div>
                <div class="inline-flex">
                  <img src="./assets/images/tack-page/hat.PNG " />
                  <h6 class="color-tx-green equiph6">
                    needs a Western saddle blanket, saddle and bridle in order to
                    enter competitions.
                  </h6>
                  
                </div>
                <div class="ui grid">
                  <div class="four wide column">
                    <div class="ui vertical fluid tabular menu">
                      <a class="item title-box color-dark-beige active">
                        <p class="color-tx-maroon">
                          Competitions
                        </p>
                      </a>
                      <a class="item active color-light-beige">Saddle Blanket</a>
                      <a class="selected-saddel item active">Saddle</a>
                      <a class="item active">Bridle </a>
                      <a class="item title-box color-dark-beige active">
                        <p class="color-tx-maroon">Bonuses</p>
                      </a>
                      <a class="item active">Polo wraps</a>
                      <a class="item active">Ear Bonnet</a>
                    </div>
                  </div>
                  <div class="twelve wide stretched column">
                    <div class="ui segment">
                      <h6 class="color-tx-maroon equiph6">Template:</h6>
                      <p class="color-tx-green">
                        is already wearing: Saddle
                      </p>
                      <div class="ui four cards">
                          <div class="inline-block">
                            <a class="olive card">
                              <div class=" ">
                                <img class="img-saddle" src="./assets/images/tack-page/dark-brown-saddle.PNG "/>
                              </div>
                            </a>
                            <button class="btn-shops btn-shops-sml btn-postion">
                              <i class="shopping cart icon"></i>
                            </button>
            </div>
            <div class="inline-block">
                <a class="olive card">
                    <div class=" ">
                        <img class="img-saddle" src="./assets/images/tack-page/brown-saddle.PNG " />
                    </div>
                </a>
                <button class="btn-shops btn-shops-sml btn-postion">
                              <i class="shopping cart icon"></i>
                            </button>
            </div>
            <div class="inline-block">
                <a class="olive card">
                    <div class=" ">
                        <img class="img-saddle" src="./assets/images/tack-page/black-saddle.PNG " />
                    </div>
                </a>
                <button class="btn-shops btn-shops-sml btn-postion">
                              <i class="shopping cart icon"></i>
                              <i class="up-arrow caret up icon "></i>
                              
                              <div *ngIf="allEquipment?.length > 0;else noAllEquipment">
                              <ul *ngFor="let equipment of allEquipment">
                                <li class="equipment-box">
                                  <p class="equipment-text"><strong>{{equipment.name}}</strong></p>
                                  <p class="equipment-text">Color: {{equipment.color}}</p>
                                  <p class="equipment-text">Dressage:+ {{equipment.dressage_}}</p>
                                  <p class="equipment-text">Gallop:+ {{equipment.gallop_}}</p>
                                  <p class="equipment-text">Speed:+ {{equipment.speed_}}</p>
                                  <p class="equipment-text"> Stamina:+ {{equipment.stamina_}} </p>
                                  <p class="equipment-text"> Trot:+ {{equipment.trot_}} </p>
                                  <p class="equipment-text">Jumping:+ {{equipment.jumping_}}</p> 
                                </li>
                              </ul>
                            </div>
                          
                            <ng-template #noAllEquipment>
                              <hr>
                              <h5>There is no list to display</h5>
                            </ng-template> 
                            </button>
            </div>
        </div>
</div>
</div>
</div>
</div>
<div class=" ">
    <img class="img-horse" src="./assets/images/tack-page/horse-tack.PNG " />
</div>
</div>
</button>
</div>
</div>
</li>
</div>