.pad-left { /* common spacing to set left margin in folder */
    margin-left: 1rem;
    margin-top: 2 rem;
}
.display {
    display: flex;
    margin-top: 5px;
}

.no-top-margin {
    margin-top: 0px;
}

.move-left1 {
    margin-left: 39px;
    width: 140px;
}

.h6 {
    padding: 4px 0 4px 5px;
    color: maroon;
}

.card-title {
    font-weight: bold;
}

.hrtop {
    margin-top: -100px;
    margin-bottom: 2px;
    width: 450px;
    margin-left: -3px;
}

.mycard-light-green {
    background-color: #F0F0B2;
    border: 2px solid rgb(192, 189, 113);
    color: #663300;
    border-style: solid 2px;
    border-radius: 5px;
    margin-bottom: 20px;
}