<div class="container">
    <div>
        <app-nav-bar></app-nav-bar>
        <br><br>
        <app-play-bar></app-play-bar>
        <br>
    </div>
    <div class="folder">
        <div class="row "> <!-- Path Information & Picture -->
            <div class="col-md-6 display pad-left small card-title color-tx-maroon no-bottom-margin">
                <div class="color-tx-green ">
                    <i class="home icon"></i>
                    <a class=""> Breeding Farm &nbsp;</a>
                    <i class="angle double right icon"> </i>
                </div>
                <a class=""> Horse List &nbsp;</a>
                <i class="angle double right icon "> </i>
                <a class=""> Select a horse</a>
            </div>
        </div>
        <div class="row"> <!-- Title & Description -->
            <div class="col-md-6 pad-left color-tx-maroon">
                <hr>
                <h3 class="no-top-margin display card-title">List of horses for &nbsp;
                    <span class="color-tx-green"> {{ user.userName }}</span></h3>
                <div class="color-tx-green no-top-margin">
                    <p>Select one of your horses from the farm. </p>
                    <br><br>
                </div>
            </div>
        </div> <!-- Title End -->
        <div class="row pad-left display">
            <Div class="col-sm-5 mycard-light-green">
                <br>
                <form class="display-vert">
                    <label class="pad-left display-vert" *ngFor="let horse of allHorseData">{{ horse.name }}</label>
                </form>
                <br>
            </Div>
            <div class="col-sm-1"></div>
            <Div class="col-sm-5 mycard-light-green">
                <br>
                <h5 class="card-title color-tx-green">Create a new horse for &nbsp;
                    <span class="color-tx-maroon"> {{ user.userName }}</span>
                </h5>
                <form class="">
                    <div class="display pad-left">
                        <label class="h6" for="name"  required>Horse Name</label>
                        <input class="form-control pad-left"  type="text" #name />
                    </div>
                    <div class="display pad-left">
                        <label class="h6" for="breed">Breed</label>
                        <select class="h6 move-left1 sm-card" #breed>
                            <option  *ngFor="let breed of allBreeds" [ngValue]="breed">{{breed.breed}}</option>
                        </select>               
                    </div>
                    <div class="display pad-left">
                        <label class="h6" for="breed">Color</label>
                        <select class="h6 move-left1 sm-card" #color>
                            <option  *ngFor="let color of allColors" [ngValue]="color">{{color.color}}</option>
                        </select>               
                    </div>
                    <div class="display pad-left">
                        <label class="h6" for="breed">Skills</label>
                        <select class="h6 move-left1 sm-card" #skill>
                            <option  *ngFor="let skill of skills" [ngValue]="skill">{{skill}}</option>
                        </select>               
                    </div>
                    <div>
                        <button class="btn-shops btn-shops-lrg pad-left" 
                        (click)="createRandomHorse(name.value, breed.value, color.value, skill.value)"
                        [routerLink]="['/horse-page']" routerLinkActive="router-link-active">
                        Create</button>
                    </div>
                </form>
                <br>
            </Div>
        </div>
    </div> <!-- folder end-->
    <br><br>
    <app-footer></app-footer>
</div>