.home-icon-place {
    font-weight: 600;
    margin-top: 5px;
    margin-left: 15px;
}

.pad-left { 
    margin-left: 1rem;
    margin-top: 2 rem;
}

.text-pos {
    margin-left: -40px;
    margin-top: 5px;
}

.b-st {
    font-weight: bold;
}

.second-row {
margin-top: -60px;
}

.st-img {
margin-top: -50px;
height: 140px ;
margin-left: 10px;
}

hr {
  color:beige;
  height: 4px;
}

.st-repo-card {
   width: 640px;
   height: 300px;
   margin-top: 40px;
   margin-left: 15px;
   background-color: #DCDB81;
   color: #133300;
   font-weight: bold;
}

.bl-st-head {
    font-size: 1.25rem;
    font-weight: bold;
    color: #133300;
}

i {
    font-style: normal;
}

.sm-card {
    height: 110px;
    width: 270px;
    margin: 10px 10px 10px 10px; 
    background-color: #F0F0B2;
    color: #133300;
    font-size: 1rem;
    font-weight: bold;
}

.box-img {
    margin-top: 8px;
    margin-left: 4px;
}

.box-head {
    margin-top: 5px;
    font-weight: bold;
}

.pass {
    margin-top: -15px;
}

.pass-img {
    width: 25px;
    height: 25px;
}

li {
    list-style-type: none;
} 

a {
    text-decoration: none;
    color: #133300;
}

#background {
    background: rgba(0, 0, 0, .7);
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}

.gender-link {
    text-decoration: none;
}

.popup {
    min-width: 700px;
    font-size: 12px;
    display: block;
    border-radius: 4px;
    border: 1px solid #b3b14d;
    position: relative;
    box-shadow: 0 0 0 1500px rgba(0, 0, 0, .8);
    padding: 10px;
    height: 500px;
    right: 250px;
    bottom: 200px;
}

.dropdown-toggle::after { 
    content: none; 
}

.btn-shops-lrg {
    width: 100px;
}
  
