li {
  list-style: none;
}

i {
  text-decoration: none;
}

ul {
  margin: 0px;
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 90%;
}

.head-text {
  color: black;
  font-size: 20px;
}

.main-btn {
  margin-top: 15px;
}

.leaf-size {
  font-size: 25px;
  color: black;
}

.dropdown-menu.show {
  background: white;
  width: 225px;
  height: 375px;
  color: black;
}

.dropdown-item {
  padding: 10px;
  text-align: center;
  color: black;
}

.dropdown-menu:hover {
  background: rgb(73, 131, 186);
}

.dropdown-item:hover {
  background-color: turquoise;
  border-radius: 5%;
  text-align: center;
}

.font-sm {
  font-size: 20px;
}

.font-md {
  /* used by +'s */
  font-size: 20px;
  margin-left: 8px;
  margin-top: 5px;
}

.font-xl {
  font-size: 60px !important;
  color: rgb(73, 131, 186);
  margin-left: 5px;
  margin-bottom: 24px;
}

.dropbtn2 {
  background-color: rgb(73, 131, 186);
  color: white;
  padding: 5px 85px;
  font-size: 16px;
  border: none;
}

.dropdown2 {
  position: relative;
  display: inline-block;
}

.dropdown2-content {
  display: none;
  position: absolute;
  background-color: #ffff;
  right: 20px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown2-content a {
  color: rgb(73, 131, 186);
  padding: -5px 5px;
  text-decoration: none;
  display: block;
}

.dropdown2-content :disabled:hover {
  background-color: #ffff;
}

.dropdown2:hover .dropdown2-content {
  display: block;
}

.dropdown2:hover .dropbtn2 {
  background: rgb(73, 131, 186);
}

.mini-bar {
  display: none;
}

.btn-primary {
  border: none;
  background-color: #ffff;
  color: rgb(73, 131, 186);
  width: 160px;
  height: 35px;
}

.btn-primary:hover {
  background-color: turquoise;
}

.equus {
  width: 40%;
  margin-right: 5px;
  margin-top: -2px;
  margin-left: 5px;
}

.centered {
  display: flex;
}

.plus {
  margin-left: 10px;
}

@media (min-width: 578px) and (max-width: 767.98px) {
  .mini-bar {
    display: block;
  }

  .dropdown2-content {
    left: 0px;
  }

  .col-md-7 {
    width: 70px;
  }

  .col-md-1 {
    width: 100px;
  }

  .img-size {
    margin-left: 60px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .mini-bar {
    display: block;
  }

  .col-md-1 {
    width: 150px;
  }

  /* 
  .play-bar-pos {
    margin-left: 30px;
  } */

  .col-md-7 {
    margin-left: 50px;
    max-width: 400px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .mini-bar {
    display: block;
  }
}
