
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-blue ">
    <img class="img-size" src="./assets/images/home-page/logo.png">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavDropdown">
      <ul class="navbar-nav ">
      <li class="nav-item active inline-flex">
          <a class="nav-link nav-btn nav-btn-big"  style="color: white;">
            <div class="nav-link-big inline-flex">
              <div class="">
                <h4>Start Pack</h4>
              </div>
              <div class="up"><i class=" font-lg icon-qualty angle right icon"></i></div>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link nav-btn " style="color: white;">
            <div class="inline-flex">
              <div class="inline-block padding-bottom">
                <h6>1197</h6>
                <p class="font-sm">Equus</p>
              </div>
              <div>
                <i class="font-md icon-qualty plus icon"></i>
              </div>
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-btn " style="color: white;">
            <div class="inline-flex">
              <div class="inline-block">
                <h6>0</h6>
                <p class="font-sm">Passes</p>
              </div>
              <div>
                <i class="font-md icon-qualty plus icon"></i>
              </div>
            </div>
          </a>
      </li>
      <li class="nav-item">
        <a class="nav-link icon-margin " >
        <i class="font-lg leaf icon"></i>
      </a>
      </li> 
      <li class="nav-item">
          <a class="nav-link nav-profile" >
            <i class="font-md icon-qualty envelope icon"></i>
          </a>
      </li> 
      
      <li ngbDropdown class="nav-item">
        <a href (click)="false" class="nav-link nav-profile " ngbDropdownToggle>
          <i class="font-md icon-qualty user icon"></i>
        </a>
        <div ngbDropdownMenu class="drop-box">
          <button ngbDropdownItem class=" hover-box disabled">
            <div class="inline-block">
            <i class="font-xl user circle icon"></i>
            <p class="  font-xmd">User Name</p>
          </div>
          </button>
          <div class="dropdown-divider hover-box"></div>
          <button ngbDropdownItem class="font-xmd hover-box disabled">
            <i class=" key icon"></i>
            Supscription
          </button>
          <div class="dropdown-divider hover-box"></div>
          <button ngbDropdownItem class="font-xmd hover-box disabled">
            <i class=" cog icon"></i>
            Account
          </button>
          <div class="dropdown-divider hover-box"></div>
          <button ngbDropdownItem class="disabled ">
            <i class="seperate flag-bg canada flag"></i>
            <i class="seperate united states flag"></i>
            <i class="seperate japan flag"></i>
            <i class="seperate palestine flag"></i>
          </button>
          <div class="dropdown-divider hover-box"></div> 
          <button ngbDropdownItem class="font-xmd hover-box disabled">
            <i class=" angle right icon"></i>
            Versions
          </button>
          <div class="dropdown-divider hover-box "></div>
          <li>
          <a routerLink = "/home-page">
            <button ngbDropdownItem class="font-xmd hover-box">
            <i class=" power off icon"></i>
            log Out
          </button>
          </a></li>
        </div>
    </li>
       <!--- <li class="nav-item dropdown">
          <button class="nav-link  dropdown-toggle nav-profile" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="font-md icon-qualty user icon"></i>
          </butoon>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>-->
      </ul>
    </div>
  </nav>
</div>

