/* Main Nav Bar styling components */

a {
    text-decoration: none;
}

.navbar {
    align-content: center;
    height: 100px;
    cursor: pointer;
}

ul {
    margin: 0;
    text-decoration: none;
}

.navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: center;
}

.nav-profile {
    margin-left: 20px;
    padding: 0px;
    color: white;
    border-radius: 5px;
    background: rgb(73, 131, 186);
    border: none;
}

.nav-profile:hover {
    background-color: turquoise;
}

.nav-item {
    left: 30px;
}

.nav-btn {
    margin-left: 20px;
    padding: 0px;
    border-radius: 25px;
    color: white !important;
    background: rgb(73, 131, 186);
    border: none;
    width: 115px;
    height: 45px;
}

.nav-btn:hover {
    background-color: turquoise;
}

.nav-btn-big:hover {
    background-color: turquoise;
}

.img-logo {
    margin-top: 10px;
}


/* Start Pack Styling Components */

.nav-btn-big {
    width: 208px;
    margin-top: 0px;
}

.texth4 {
    margin-right: -8px;
    margin-top: 4px;
}

.btn-round {
    margin-top: -9px;
    margin-right: -17px;
    margin-left: 59px;
    border-style: solid;
    border-color: #61C5C9;
    border-width: 5px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}


/* Equus & Passes Styling Components */

.texth6 {
    margin-bottom: 0;
    font-weight: 700;
}

.btn-round-sml {
    margin-top: -10px;
    margin-right: -17px;
    margin-left: 14px;
    border-style: solid;
    border-color: #61C5C9;
    border-width: 5px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.over-right {
    margin-left: 20px;
}

.nav-link {
    padding: .4rem 1rem!important;
    color: white;
}

.inline-flex {
    display: inline-flex;
}

.inline-block {
    display: block;
}

.flex-center {
    justify-content: center;
}

.icon-margin {
    margin-left: 20px;
    font-size: 150%;
}

.rock-img {
    width: 18%;
}

.font-sm {
    font-size: 11px;
}

.font-md {
    /* used by +'s */
    font-size: 20px;
    margin-left: 8px;
    margin-top: 5px;
}

.font-md2 {
    /* used by mail & profile buttons */
    font-size: 25px;
    margin: 0;
    height: 38px;
}

.font-xmd {
    font-size: 15px;
    color: rgb(73, 131, 186);
    margin-left: 23px;
}

.font-lg {
    /* used by > symbol in start pack */
    font-size: 30px;
    margin-left: 4px;
    margin-top: -1px;
}

.leaf-size {
    /* used by the leaf on nav bar */
    font-size: 30px;
    margin-top: -10px;
    color: white;
}

.font-xl {
    /* used by profile pic icon */
    font-size: 60px!important;
    color: rgb(73, 131, 186);
    margin-left: 23px;
    margin-bottom: 24px;
}

.icon-angle {
    padding-bottom: 2px;
}


/* Profile menu styling */

.dropdown-divider {
    height: 0;
    width: 155px;
    margin-left: 12px;
    overflow: hidden;
    border-top: 1px solid #e9ecef;
}

.hover-box {
    background-color: #ffff;
    text-decoration: none;
}

.hover-box:hover {
    background-color: turquoise;
    text-decoration: none;
}

.drop-box {
    width: 181px;
}

.dropdown-item {
    margin-left: 10px;
    width: 87%;
    text-decoration: none;
}

.seperate {
    padding-left: 12px;
    padding-right: 6px;
}

.flag-bg {
    height: 55px;
    width: 25px;
    background-color: #ffff;
}

.flag-bg:hover {
    background-color: turquoise;
}

.equus {
    height: 65%;
    margin-left: -30px;
    margin-right: -20px;
    margin-top: -2px;
}

.ui.menu {
    display: flex;
    margin: 1rem 0;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    background:none;
    font-weight: 400;
    border: none;
    box-shadow: none;
    /* border-radius: .28571429rem; */
    min-height: 2.85714286em;
}


/* keep if needed ...
    background: rgba(55,101,154,.5);
    border:rgba(55,101,154,.5);
    */

@media (min-width: 578px) and (max-width: 767.98px) { 
    .main-bar {
        display: none;
    } 
}
    
/** Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
    .main-bar {
        display: none;
    }
}
           
/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) { 
    .main-bar {
        display: none;
    } 
}
    