/*roaa code*/
.navbar {
    align-content: center;
    height: 100px;
    cursor: pointer;
}

.nav-btn {
    /*background: rgba(55,101,154,.5);
    border:rgba(55,101,154,.5);*/
    margin-left: 20px;
    padding:0px;
    border-radius: 20px;
    color: white;
    background:rgb(73, 131, 186);
    border:none;
    width: 88px;
    height: 45px;
}

.nav-btn:hover {
    background-color: turquoise;
}

.nav-profile {
   /* background: rgba(55,101,154,.5);
    border:rgba(55,101,154,.5);*/
    margin-left: 20px;
    padding:0px;
    color: white;
    border-radius: 5px;
    background: rgb(73, 131, 186);
    border:none;
}

.nav-profile:hover {
    background-color: turquoise;
}

.nav-btn-big {
    width: 208px;
    margin-top: -12px;
}

.nav-btn-big:hover {
    background-color: turquoise;
}



.nav-link {
    padding: .7rem 1rem!important;
}

.flex-center {
    justify-content: center;
}

.inline-block {
    display: block;
}

.inline-flex {
    display: inline-flex;
}

.padding-bottom{
    padding-bottom: 5px;
}

.navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: center;
}

.icon-qualty {
    color: white;
    border-radius: 50%;
    border-color: #f8f9fa;
}

.bg-blue {
    background-color: #60c4c9!important;
}

.icon-margin{
    margin-left: 20px;
    font-size: 150%;
}

.rock-img{
    width: 18%;
}

.font-sm {
    font-size: 11px;
}

.font-md {
    font-size: 20px;
    color: white;
}

.font-xmd {
    font-size: 15px;
    color:rgb(73, 131, 186);
    margin-left: 23px;
}

.font-lg {
    font-size: 25px;
    color: white;
}

.font-xl {
    font-size: 60px!important;
    color:rgb(73, 131, 186);
    margin-left: 23px;
    margin-bottom: 24px;
}

h6 {
    margin-bottom: 0rem;
    font-weight: 500;
    line-height: 1.5
}

.nav-link {
    padding: .3rem 1rem 1em 1.3rem!important;
    color: #ffff;
}

.nav-link-big {
    padding: .3rem 1.3rem!important;
}

.icon-angle {
    padding-bottom: 2px;
}

.img-size {
    height: 75px;
    width: 151px;
    margin-top: -5px;
}
/* Profile menu styling */
.dropdown-divider {
    height: 0;
    width: 155px;
    margin-left: 12px;
    overflow: hidden;
    border-top: 1px solid #e9ecef;
}

.hover-box {
    background-color: #ffff;
}

.hover-box:hover {
    background-color: turquoise;
    text-decoration: none;
}

.drop-box {
    width: 181px;
}

.dropdown-item {
    margin-left: 10px;
    width: 87%;
}

.flag-bg {
    height: 55px;
    width: 25px;
    background-color: #ffff;
}

.flag-bg:hover {
    background-color: turquoise;
}

.seperate {
    padding-left: 12px;
    padding-right: 6px;
}

.up {
    margin-top: -4px;
}