/*roaa code*/
.navbar{
    align-content: center;
    height: 100px;
}

.nav-btn{
    /*background: rgba(55,101,154,.5);
    border:rgba(55,101,154,.5);*/
    margin-left: 20px;
    padding:0px;
    border-radius: 20px;
    color: white;
    background:rgb(73, 131, 186);
    border:none;
    width: 88px;
    height: 45px;
    
}

.nav-btn-big{
    width: 208px;
    margin-top: -12px;

}
.nav-profile{
   /* background: rgba(55,101,154,.5);
    border:rgba(55,101,154,.5);*/
    margin-left: 20px;
    padding:0px;
    color: white;
    border-radius: 5px;
    background: rgb(73, 131, 186);
    border:none;
    
}

.nav-link {
    
    padding: .7rem 1rem!important;
}

.flex-center{
    justify-content: center;
}

.inline-block{
    display: block;
}

.inline-flex{
    display: inline-flex;
   
}
.padding-bottom{
    padding-bottom: 5px;
}
.navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: center;
}
.icon-qualty{
    color: white;
    border-radius: 50%;
    border-color: #f8f9fa;
}

.bg-blue {
    background-color: #60c4c9!important;
}

.background{
background-color: #61C5C9;
}

.icon-margin{
    margin-left: 10px;
    font-size: 150%;
}

.rock-img{
    width: 18%;
}

.font-sm{
    font-size: 11px;
}

.font-md{
    font-size: 20px;
}

h6{
    margin-bottom: 0rem;
    font-weight: 500;
    line-height: 1.5
}

.nav-link {
    padding: .3rem 1rem 1em 1rem!important;
}