<div class="background">
    <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-blue ">
      <img src="./assets/images/home-page/logo.png">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNavDropdown">
       
        <ul class="navbar-nav ">
        <li class="nav-item active inline-flex">
            <a class="nav-link nav-btn nav-btn-big" href="#" style="color: white;">
              Start pack<span class="sr-only">(current)</span>
              <i class=" icon-qualty angle right icon"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link nav-btn " href="#" style="color: white;">Equus
              <i class="icon-qualty plus icon"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-btn " href="#" style="color: white;">Passes
            <i class="icon-qualty plus icon"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link icon-margin " href="#" style="color: white;">
         <i class=" leaf icon"></i>
        </a>
      </li>
        
          <li class="nav-item">
            <a class="nav-link nav-profile" href="#" style="color: white;">
              <i class="icon-qualty envelope icon"></i>
            </a>
          </li> 
          <li class="nav-item dropdown">
            <a class="nav-link  dropdown-toggle nav-profile" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="icon-qualty user icon"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  </div>
