<div class="container">
    <div>
        <app-mini-bar></app-mini-bar>
        <app-nav-bar></app-nav-bar>
        <br><br>
        <app-play-bar></app-play-bar>
        <br>
    </div>
    <div class="folder">
        <div class="col-md-6 display pad-left small card-title color-tx-maroon no-bottom-margin">
            <div class="color-tx-green ">
                <i class="home icon"></i>
                <a class=""> Equestrian Centre &nbsp;</a>
                <i class="angle double right icon"> </i>
                <p> {{ currentEQCenter.eqName }}</p>
            </div>
            <!-- <a class=""> Select a EQ Center &nbsp;</a>-->
        </div>
    </div>
    <div>
        <br>
        <app-footer></app-footer>
    </div>
</div>