.padding-pro {
  margin-left: 1%;
}
.font-size {
  font-size: 1rem;
}
#username {
  margin-right: -75%;
}
#email {
  margin-right: -75%;
}
#password {
  margin-right: -75%;
}
.pro-color {
  color: black;
}
