<div class="ui container-xl">
    <app-mini-bar></app-mini-bar>
    <app-play-bar-mini></app-play-bar-mini>
    <app-nav-bar></app-nav-bar>
    <!-- account nav bar here-->
    <br>
    <app-play-bar></app-play-bar>
    <!-- game nav bar placement-->
    <br><br>
    <div class="row">
        <!-- horse information placement-->
        <div class="col-sm-3 max-width-column max-width-left">
            <div class="row center-text">
                <p class="no-bottom-margin top-margin">
                    <!-- left panel 1 - Care -->
                    <button type="button" class="btn btn-primary max-width-column card-green card-title no-bottom-margin card-title-border" (click)="isCareCollapsed = !isCareCollapsed" [attr.aria-expanded]="!isCareCollapsed" aria-controls="collapseExample ">
                        Care
                    </button>
                </p>
                <div class="no-top-margin max-width-column" id="collapseExample" [ngbCollapse]="isCareCollapsed">
                    <div class="card card-green bottom-margin">
                        <div class="card-body no-padding">
                            <div class="row no-margin">
                                <!-- row 1 -->
                                <div class="col-3 btn-padding">
                                    <button (click)="FeedButton()" class="btn max-btn-width">
                                        <img class="img-btn-width" src="{{ feedButton }}" />
                                    </button>
                                </div>
                                <div class="col-3 btn-padding">
                                    <button (click)="DrinkButton()" class="btn max-btn-width">
                                        <img class="img-btn-width" src="{{ drinkButton }}" />
                                    </button>
                                </div>
                                <div class="col-3 btn-padding">
                                    <button (click)="StrokeButton()" class="btn max-btn-width">
                                      <img class="img-btn-width" src="{{ strokeButton }}" />
                                    </button>
                                </div>
                            </div>
                            <!-- end of row 1 -->
                            <div class="row no-margin no-padding">
                                <!-- row 2 -->
                                <div class="col-3 btn-padding">
                                    <button (click)="GroomButton()" class="btn max-btn-width">
                                        <img class="img-btn-width" src="{{ groomButton }}" />
                                    </button>
                                </div>
                                <div class="col-3 btn-padding">
                                    <button (click)="CarrotButton()" class="btn max-btn-width">
                                        <img class="img-btn-width" src="{{ carrotButton }}" />
                                    </button>
                                </div>
                                <div class="col-3 btn-padding">
                                    <button (click)="MashButton()" class="btn max-btn-width">
                                        <img class="img-btn-width" src="{{ mashButton }}" />
                                    </button>
                                </div>
                            </div>
                            <!-- end of row 2 -->
                        </div>
                    </div>
                </div>
                <p class="no-bottom-margin top-margin">
                    <!-- left panel 2 - Night -->
                    <button type="button " class="btn btn-primary max-width-column card-green card-title no-bottom-margin card-title-border" (click)="isNightCollapsed = !isNightCollapsed" [attr.aria-expanded]="!isNightCollapsed" aria-controls="collapseExample ">
                        Night
                    </button>
                </p>
                <div class="max-width-column" id="collapseExample " [ngbCollapse]="isNightCollapsed">
                    <div class="card card-green bottom-margin no-padding">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-3 btn-padding">
                                    <button class="btn max-btn-width disabled">
                                        <img class="img-btn-width" src="../../assets/images/horse-page-icons/put-to-bed-disabled.png"/>
                                    </button>
                                </div>
                                <div class="col-3 btn-padding">
                                    <button class="btn max-btn-width disabled">
                                        <img class="img-btn-width" src="../../assets/images/horse-page-icons/empty-button.png"/>
                                    </button>
                                </div>
                                <div class="col-3 btn-padding">
                                    <button class="btn max-btn-width disabled">
                                        <img class="img-btn-width" src="../../assets/images/horse-page-icons/age-button-disabled.png"/>
                                    </button>
                                </div>
                            </div>
                            <!-- <div class="row">
                                <div class="col-3 btn-padding">
                                    <button class="btn max-btn-width disabled"><img class="img-btn-width" src="../../assets/images/horse-page-icons/empty-button.png"></button>
                                </div>
                                <div class="col-3 btn-padding">
                                    <button class="btn max-btn-width disabled"><img class="img-btn-width " src="../../assets/images/horse-page-icons/empty-button.png"></button>
                                </div>
                                <div class="col-3 btn-padding">
                                    <button class="btn max-btn-width disabled"><img class="img-btn-width " src="../../assets/images/horse-page-icons/empty-button.png"></button>
                                </div>
                            </div>-->
                        </div>
                    </div>
                </div>
                <p class="no-bottom-margin">
                    <!-- left panel 3 - Equestrian Centre -->
                    <button type="button " class="btn btn-primary max-width-column card-green card-title no-bottom-margin top-margin card-title-border" (click)="isECCollapsed = !isECCollapsed" [attr.aria-expanded]="!isECCollapsed" aria-controls="collapseExample ">
                        Equestrian Centre
                    </button>
                </p>
                <div class="max-width-column" id="collapseExample " [ngbCollapse]="isECCollapsed">
                    <div class="card card-green bottom-margin no-padding">
                        <div class="card-body">
                            Your horse is not registered in an Equestrian Centre yet.
                        </div>
                        <div class="card-body">
                            <p class="max-btn-width">
                                <img class="img-btn-width" src="../../assets/images/horse-page-icons/eq-reg-button-enabled.png " />Register my horse
                            </p>
                        </div>
                    </div>
                </div>
                <p class="no-bottom-margin">
                    <!-- left panel 4 - History -->
                    <button type="button " class="btn btn-primary max-width-column card-green card-title no-bottom-margin top-margin card-title-border" (click)="isHistoryCollapsed = !isHistoryCollapsed" [attr.aria-expanded]="!isHistoryCollapsed" aria-controls="collapseExample ">
                    History
                    </button>
                </p>
                <div class="max-width-column" id="collapseExample " [ngbCollapse]="isHistoryCollapsed">
                    <div class="card card-green bottom-margin no-padding">
                        <div class="card-body">
                            <div *ngFor="let hist of history">
                                <p>{{ hist }}</p>
                            </div>
                            You can collapse this card by clicking Toggle
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-1 center-text max-width-middle-column">
            <img class="col-xl-12" src="{{ imagePath }} " />
            <!-- Temp fixed picture -->

            <div class="card-light-green card-title no-bottom-margin card-title-border">
                {{ horse?.name }}
            </div>
            <div>
                <div class="card card-light-green">
                    <div class="row">
                        <div class="positionRelative">
                            <circle-progress class="time-left-padding time-top-padding" [clockwise]="false" [percent]="percent" [radius]="35" [maxPercent]="100" [outerStrokeWidth]="10" [innerStrokeWidth]="4" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="false"
                                [animationDuration]="300" [showBackground]="true" [showTitle]="false" [showSubtitle]="false" [showUnits]="false" [responsive]="false">
                            </circle-progress>
                            <div class="percentageValue">{{ updatedTime.currentHourString }}:{{ updatedTime.currentMinuteString }}</div>
                        </div>
                        <div class="card-body">
                            <div class="col-10 form-group center-text card-middle-title">
                                Energy
                                <ngb-progressbar type=" " [value]="horse?.energy">%{{ horse?.energy }}
                                </ngb-progressbar>
                                <!--<ngb-progressbar type=" " [value]="25 "></ngb-progressbar>-->
                                <!--<ngb-rating [formControl]="ctrl " [readonly]="readonly " [rate]="10 " class="gold-color "></ngb-rating>-->
                            </div>
                            <div class="col-10 form-group center-text card-middle-title">
                                Health
                                <!-- <div class="progress-bar " [style.width]="(allHorseData[0].health) ">_</div>-->
                                <!--<ngb-progressbar type="warning " [value]="50 "></ngb-progressbar>-->
                                <ngb-progressbar type=" " [value]="horse?.health">%{{ horse?.health }}
                                </ngb-progressbar>
                                <!--<ngb-rating [formControl]="ctrl " [readonly]="readonly " [rate]="10 " class="gold-color "></ngb-rating>-->
                            </div>
                            <div class="col-10 form-group center-text card-middle-title">
                                Morale
                                <ngb-progressbar type=" " [value]="horse?.morale">%{{ horse?.morale }}
                                </ngb-progressbar>
                                <!--<ngb-progressbar type="success " [value]="100 "></ngb-progressbar>-->
                                <!--<ngb-rating [formControl]="ctrl " [readonly]="readonly " [rate]="10 " class="gold-color "></ngb-rating>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Middle panels - Skills   max-width-middle-column center-text card-light-green card-title no-bottom-margin card-title-border-->
            <div class="card-light-green card-title no-bottom-margin card-title-border">
                Skills
            </div>
            <div class="no-top-margin">
                <div class="card card-light-green">
                    <div class="card-body row">
                        <div class="col-sm-3 form-group card-title">
                            Skills
                        </div>
                        <div class="col-sm-6 center-text">nothing here</div>
                        <div class="col-sm-3 center-text card-title">Total: 1,000</div>
                    </div>
                    <!-- horse stamina-->
                    <div class="card-body row skillRating">
                        <div class="col-sm-3 form-group bold-title">
                            Stamina
                        </div>
                        <div class="col-sm-6">
                            <ngb-rating [formControl]="ctrl" [readonly]="readonly" [rate]="horse?.stamina / 10" class="gold-color"></ngb-rating>
                        </div>
                        <div class="col-sm-3 center-text">{{ horse?.stamina }}</div>
                    </div>
                    <!-- horse speed-->
                    <div class="card-body row skillRating">
                        <div class="col-sm-3 form-group center-text bold-title">
                            Speed
                        </div>
                        <div class="col-sm-6 center-text">
                            <ngb-rating [formControl]="ctrl" [readonly]="readonly" [rate]="horse?.speed / 10" class="gold-color"></ngb-rating>
                        </div>
                        <div class="col-sm-3 center-text">{{ horse?.speed }}</div>
                    </div>
                    <!-- horse dressage-->
                    <div class="card-body row skillRating">
                        <div class="col-sm-3 form-group center-text bold-title">
                            Dressage
                        </div>
                        <div class="col-sm-6 center-text">
                            <ngb-rating [formControl]="ctrl" [readonly]="readonly" [rate]="horse?.dressage / 10" class="gold-color"></ngb-rating>
                        </div>
                        <div class="col-sm-3 center-text">{{ horse?.dressage }}</div>
                    </div>
                    <!-- horse gallop-->
                    <div class="card-body row skillRating">
                        <div class="col-sm-3 form-group center-text bold-title">
                            Gallop
                        </div>
                        <div class="col-sm-6 center-text">
                            <ngb-rating [formControl]="ctrl" [readonly]="readonly" [rate]="horse?.gallop / 10" class="gold-color"></ngb-rating>
                        </div>
                        <div class="col-sm-3 center-text">{{ horse?.gallop }}</div>
                    </div>
                    <!-- horse trot-->
                    <div class="card-body row skillRating">
                        <div class="col-sm-3 form-group center-text bold-title">
                            Trot
                        </div>
                        <div class="col-sm-6 center-text">
                            <ngb-rating [formControl]="ctrl" [readonly]="readonly" [rate]="horse?.trot / 10" class="gold-color"></ngb-rating>
                        </div>
                        <div class="col-sm-3 center-text">{{ horse?.trot }}</div>
                    </div>
                    <div class="card-body row skillRating">
                        <div class="col-sm-3 form-group center-text bold-title">
                            Jumping
                        </div>
                        <div class="col-sm-6 center-text">
                            <!-- horse jumping-->
                            <ngb-rating [formControl]="ctrl" [readonly]="readonly" [rate]="horse?.jumping / 10" class="gold-color"></ngb-rating>
                        </div>
                        <div class="col-sm-3 center-text">{{ horse?.jumping }}</div>
                    </div>
                </div>
            </div>

            <!-- <div class="row"> -->
            <!-- middle panel - after skills -->
            <!-- <div class="col-6">-->
            <div>
                <div class="card card-light-green card-middle-title">
                    <div class="card-body card-title inline-block">
                        <div>
                            <p class="margin">Tack</p>
                        </div>
                        <!---tack popup, Equip my horse, roaa-->
                        <app-modal-options></app-modal-options>
                    </div>
                </div>
            </div>
            <!-- </div><!-- div starts @ 272 -->
            <!-- div class='col-6'> closer line 266 -->
            <!-- <div class="col-6">-->
            <div class="card card-light-green card-middle-title">
                <div class="card-body card-title hight">
                    <div class="inline-block">
                        <div>
                            <p class="margin3">Items</p>
                        </div>
                        <div class="margin2">
                            <img class="padding" src="./assets/images/tack-page/gold-peramid.png " />
                            <img class="padding" src="./assets/images/tack-page/gold-apple.png " />
                        </div>
                    </div>
                </div>
            </div>
            <!-- div starts @ 287 -->
            <!-- </div> <!-- div starts @ 286 -->
            <!--</div> <!-- div starts @ 270 -->
            <!-- <div class="row">
    <-- middle bottom panel - Victories --
<div class="col-12">
    <div class="card card-light-green card-middle-title"></div>
</div>
</div> -->
            <div class="card card-light-green">
                <div class="card-body">
                    <nav ngbNav #nav="ngbNav" class="nav-tabs card-light-green">
                        <ng-container ngbNavItem>
                            <a ngbNavLink class="card-light-green ">Characteristics</a>
                            <ng-template ngbNavContent>

                                <div class="col-xl-8">
                                    <p>Owner [ <strong>{{ user?.userName }} </strong>]</p>
                                </div>
                                <div class="col-xl-8">
                                    <p>Breed [<strong> {{ horse?.breed }} </strong>]</p>
                                </div>
                                <div class="col-xl-8">
                                    <p>Gender [<strong> {{ horse?.gender }}</strong>]</p>
                                </div>

                                <!-- <div>
                                    <p>Species [ {{ horse?.species }} </p>
                                </div> -->
                                <div class="col-xl-8">
                                    <p>Coat [ <strong>{{ horse?.color }} </strong>]</p>
                                </div>

                                <div class="card-body card-title">
                                    Victories
                                </div>
                                <!-- <p>User Name -> {{ userData.userName}} </p> -->
                            </ng-template>
                        </ng-container>
                        <ng-container ngbNavItem>
                            <a ngbNavLink class="card-light-green">Genetic</a>
                            <ng-template ngbNavContent>
                                <p> Exercitation +1 labore velit, blog sartorial PBR</p>
                                <p> leggings next level wes anderson artisan four</p>
                                <p> loko farm-to-table craft beer twee. Qui photo </p>
                                <p> booth letterpress, commodo enim craft beer </p>
                                <p> mlkshk aliquip jean shorts ullamco ad vinyl cillum </p>
                                <p> PBR. Homo nostrud organic, assumenda labore </p>
                                <p> aesthetic magna delectus mollit. Keytar helvetica </p>
                                <p>VHS salvia yr, vero magna velit sapiente labore</p>
                                <p> stumptown. Vegan fanny pack odio cillum wes </p>
                                <p> anderson 8-bit, sustainable jean shorts beard ut </p>
                                <p>DIY ethical culpa terry richardson biodiesel.</p>
                                <p> Art party scenester stumptown, tumblr butcher</p>
                                <p> vero sint qui sapiente accusamus tattooed echo park.</p>
                            </ng-template>
                        </ng-container>
                        <ng-container ngbNavItem>
                            <a ngbNavLink class="card-light-green">Bonus</a>
                            <ng-template ngbNavContent>
                                <p>Sed commodo, leo at suscipit dictum, quam est porttitor </p>
                                <p> sapien, eget sodales nibh elit id diam. Nulla facilisi. Donec</p>
                                <p> egestas ligula vitae odio interdum aliquet. Duis lectus turpis, </p>
                                <p>luctus eget tincidunt eu, congue et odio. Duis pharetra et nisl at </p>
                                <p> faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices </p>
                                <p> et. Sed diam urna, egestas ut ipsum vel, volutpat volutpat neque.</p>
                                <p> Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec tristique</p>
                                <p> ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci </p>
                                <p>varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus</p>
                                <p> mus. Mauris aliquet odio ac lorem aliquet ultricies in eget neque. Phasellus nec</p>
                                <p> tortor vel tellus pulvinar feugiat.</p>
                            </ng-template>
                        </ng-container>
                    </nav>
                    <div [ngbNavOutlet]="nav" class="mt-2 card-light-green"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 max-width-column max-width-right">
            <!-- <ngb-progressbar type="warning " [value]="25 "></ngb-progressbar>-->
            <div class="row center-text">
                <p class="no-bottom-margin">
                    <!--right  panel 1 - Rides-->
                    <button type="button " class="btn btn-primary max-width-column card-green card-title no-bottom-margin card-title-border" (click)="isRidesCollapsed = !isRidesCollapsed" [attr.aria-expanded]="!isRidesCollapsed" aria-controls="collapseExample ">
                        Rides
                    </button>
                </p>
                <div class="max-width-column" id="collapseExample " [ngbCollapse]="isRidesCollapsed">
                    <div class="card card-green bottom-margin no-padding">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-3 btn-padding">
                                    <button class="btn max-btn-width">
                                        <img class="img-btn-width" src="{{ forestButton }} " />
                                    </button>
                                </div>
                                <div class="col-3 btn-padding">
                                    <button class="btn max-btn-width disabled">
                                        <img class="img-btn-width" src="{{ emptyButton }} " />
                                    </button>
                                </div>
                                <div class="col-3 btn-padding">
                                    <button class="btn max-btn-width">
                                        <img class="img-btn-width" src="{{ mountainButton }} " />
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="no-bottom-margin">
                    <!--right panel 2 - Training -->
                    <button type="button " class="btn btn-primary max-width-column card-green card-title no-bottom-margin card-title-border" (click)="isTrainingCollapsed = !isTrainingCollapsed" [attr.aria-expanded]="!isTrainingCollapsed" aria-controls="collapseExample ">
                        Training
                    </button>
                </p>
                <div class="max-width-column" id="collapseExample " [ngbCollapse]="isTrainingCollapsed">
                    <div class="card card-green bottom-margin no-padding">
                        <div class="card-body">
                            You can collapse this card by clicking Toggle
                        </div>
                    </div>
                </div>
                <p class="no-bottom-margin">
                    <!--right  panel 3 - Competition -->
                    <button type="button " class="btn btn-primary max-width-column card-green card-title no-bottom-margin card-title-border" (click)="isCompetitionCollapsed = !isCompetitionCollapsed" [attr.aria-expanded]="!isCompetitionCollapsed" aria-controls="collapseExample ">
                        Competition
                    </button>
                </p>
                <div class="max-width-column" id="collapseExample " [ngbCollapse]="isCompetitionCollapsed">
                    <div class="card card-green bottom-margin no-padding">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-3 btn-padding">
                                    <button class="btn max-btn-width">
                                        <img class="img-btn-width" src="../../assets/images/horse-page-icons/competition-barrel-racing-button-enabled.png "/>
                                    </button>
                                </div>
                                <div class="col-3 btn-padding">
                                    <button class="btn max-btn-width">
                                        <img class="img-btn-width" src="../../assets/images/horse-page-icons/competition-cutting-button-enabled.png "/>
                                    </button>
                                </div>
                                <div class="col-3 btn-padding">
                                    <button class="btn max-btn-width">
                                        <img class="img-btn-width" src="../../assets/images/horse-page-icons/competition-trail-class-button-enabled.png "/>
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3 btn-padding">
                                    <button class="btn max-btn-width">
                                        <img class="img-btn-width" src="../../assets/images/horse-page-icons/competition-reining-button-enabled.png "/>
                                    </button>
                                </div>
                                <div class="col-3 btn-padding">
                                    <button class="btn max-btn-width disabled">
                                        <img class="img-btn-width" src="../../assets/images/horse-page-icons/empty-button.png "/>
                                    </button>
                                </div>
                                <div class="col-3 btn-padding">
                                    <button class="btn max-btn-width">
                                        <img class="img-btn-width" src="../../assets/images/horse-page-icons/competition-western-pleasure-button-enabled.png "/>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="no-bottom-margin">
                    <!--right  panel 4 - Breeding -->
                    <button type="button " class="btn btn-primary max-width-column card-green card-title no-bottom-margin card-title-border" (click)="isBreedingCollapsed = !isBreedingCollapsed" [attr.aria-expanded]="!isBreedingCollapsed" aria-controls="collapseExample ">
                    Breeding
                    </button>
                </p>

                <div class="card card-green bottom-margin no-padding max-width-column">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-3 btn-padding">
                                <button class="btn max-btn-width">
                                  <img class="img-btn-width" src="../../assets/images/horse-page-icons/breeding-information-button-enabled.png "/>
                                </button>
                            </div>
                            <div class="col-3 btn-padding">
                                <button class="btn max-btn-width disabled">
                                    <img class="img-btn-width" src="../../assets/images/horse-page-icons/empty-button.png "/>
                                </button>
                            </div>
                            <div class="col-3 btn-padding">
                                <button class="btn max-btn-width">
                                   <img class="img-btn-width" src="../../assets/images/horse-page-icons/breeding-cover-mare-button-disabled.png "/>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- footer goes here placement-->
        <div class="col-sm">
            <app-footer></app-footer>
        </div>
    </div>
</div>