/* Move to master styles.css */

.card-title-border {
    border: 2px solid #BEBD58;
}

.card-green {
    background-color: #DCDB81;
    color: #663300;
}

.card-light-green {
    background-color: #F0F0B2;
    color: #663300;
}

.gold-color {
    color: gold;
}


/* Leave in horse page css */

.bold-header {
    font-weight: bold;
}

.gradient {
    background: rgb(242, 6, 6);
    background: linear-gradient(90deg, rgba(242, 6, 6, 1) 0%, rgba(247, 244, 5, 1) 50%, rgba(0, 255, 29, 1) 100%);
}

.center-text {
    text-align: center;
}

.card-title {
    font-weight: bold;
    font-size: 1.1em;
}

.card-header-title {
    font-weight: bolder;
    font-size: 1em;
}

.card-middle-title {
    font-weight: bolder;
    font-size: 1em;
}

.max-btn-width {
    width: 76px;
    padding: 0px;
    margin: 0px;
}

.img-btn-width {
    width: 76px;
    margin: 0px;
    padding: 0px;
}

.max-width-column {
    min-width: 285px;
}

.max-width-top-middle-column {
    width: 400px;
}

.max-width-middle-column {
    width: 540px;
}

.panel-padding {
    padding: 10px;
}

.no-padding {
    padding: 0px;
}

.no-margin {
    margin: 0px;
}

.no-top-margin {
    margin-top: 0px;
}

.no-bottom-margin {
    margin-bottom: 0px;
}

.top-margin {
    margin-top: 1px;
}

.bottom-margin {
    margin-bottom: 20px;
}

.progress-bar {
    background-image: linear-gradient(to right, green, red);
}

#progressbar {
    background-color: white;
    border-radius: 13px;
    padding: 3px;
}

.time-left-padding {
    padding-left: 35px;
}

.time-top-padding {
    padding-top: 50px;
}

.btn-padding {
    padding-left: 10px;
    margin-left: 10px;
}

#progressbar>div {
    background-color: orange;
    background: linear-gradient(90deg, rgba(242, 6, 6, 1) 0%, rgba(247, 244, 5, 1) 50%, rgba(0, 255, 29, 1) 100%);
    width: 70%;
    /* Adjust with JavaScript */
    height: 15px;
    border-radius: 10px;
}


/*equip my horse*/

.round {
    border-radius: 5px;
    border: black;
}

.popup {
    min-width: 1050px;
    font-size: 12px;
    display: block;
    border-radius: 4px;
    border: 1px solid #b3b14d;
    position: relative;
    box-shadow: 0 0 0 1500px rgba(0, 0, 0, .8);
    padding: 10px;
    height: 500px;
    right: 250px;
    bottom: 200px;
}

#background {
    background: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}

.title-box {
    height: 6px;
    width: 122px;
}

.item {
    height: 51px;
    width: 122px;
}

h5:first-child {
    margin-top: -11px;
}

.ui.segment {
    position: relative;
    background: #EAE99F;
    margin: 1rem .9rem;
    padding: 1em 1em;
    border-radius: .28571429rem;
    border-top: 1px solid #B0AE48;
    border-right: 1px solid #B0AE48;
    border-bottom: 1px solid #B0AE48;
}

.ui.grid>.column:not(.row),
.ui.grid>.row>.column {
    padding-left: 0rem;
    padding-right: 0rem;
}

.ui.grid>[class*="twelve wide"].column {
    width: 75%!important;
    height: 412px;
    top: -12px;
    right: 42px;
}

.ui.vertical.tabular.menu .active.item {
    background: none#e2e18b;
    color: #133300;
    border-right: 1px solid #B0AE48;
    border-bottom: 1px solid #B0AE48;
    border-top: none;
    border-left: none;
}

.selected-saddel {
    background: none #EAE99F !important;
    border-right: none !important;
    z-index: 999;
}

.img-size {
    width: 280px;
    height: 240px;
    margin-top: 115px;
    margin-left: 20px;
}

.img-size2 {
    width: 100px;
    height: 90px;
    z-index: 999;
}

.img-size3 {
    width: 23px;
    height: 23px;
    margin-top: 0px;
}

.inline-flex {
    display: inline-flex;
}

.inline-block {
    display: block;
}

.padding {
    padding: 1rem;
}

.tack-card {
    width: 90px;
    height: 60px;
    border: black;
}

.nav-btn {
    margin-top: 29px;
    margin-left: 50px;
    padding: 0px;
    border-radius: 30px;
    background: #f8f6bf;
    width: 30px;
    height: 30px;
}

.nav-btn:hover {
    background: #faf8d7;
    width: 35px;
    height: 35px;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown {
    height: 21px;
}

.margin {
    margin-bottom: -25px;
    margin-right: 80%;
}

.margin2 {
    margin-bottom: -7px;
    margin-right: 30%;
}

.padding {
    margin-left: 1px;
}

.margin3 {
    margin-right: 80%;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.hight {
    height: 81px;
}

.positionRelative {
    position: relative;
}

.percentageValue {
    left: 10px;
    top: 20%;
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
}

.btn-postion {
    margin-left: 35px;
}