<!--
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Library</a></li>
        <li class="breadcrumb-item active" aria-current="page">Data</li>
        <li class="breadcrumb">
            <a href="#"></a>
        </li>
        <button type="button" class="btn btn-primary">
          Notifications <span class="badge badge-light">4</span>
        </button>

    </ol>

</nav>
-->

<!--
<hr>

<p>Bootstrap split buttons and dropdowns on button groups are supported with the existing dropdown directives.</p>

<div class="btn-group mr-3">
    <button type="button" class="btn btn-outline-success">Plain ol' button</button>
    <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
        <button class="btn btn-outline-primary" ngbDropdownToggle>Drop me</button>
        <div class="dropdown-menu" ngbDropdownMenu>
            <button ngbDropdownItem>One</button>
            <button ngbDropdownItem>Two</button>
            <button ngbDropdownItem>Four!</button>
        </div>
    </div>
</div>

<div class="btn-group mr-3">
    <button type="button" class="btn btn-primary">Split me</button>
    <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
        <button class="btn btn-primary dropdown-toggle-split" ngbDropdownToggle></button>
        <div class="dropdown-menu" ngbDropdownMenu>
            <button ngbDropdownItem>One</button>
            <button ngbDropdownItem>Two</button>
            <button ngbDropdownItem>Four!</button>
        </div>
    </div>
</div>

<div class="btn-group mr-3">
    <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
        <button class="btn btn-outline-danger" ngbDropdownToggle>Select me</button>
        <div class="dropdown-menu" ngbDropdownMenu>
            <button ngbDropdownItem>One</button>
            <button ngbDropdownItem>Two</button>
            <button ngbDropdownItem>Four!</button>
        </div>
    </div>
    <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
        <button class="btn btn-outline-success" ngbDropdownToggle>Or me</button>
        <div class="dropdown-menu" ngbDropdownMenu>
            <button ngbDropdownItem>One</button>
            <button ngbDropdownItem>Two</button>
            <button ngbDropdownItem>Four!</button>
        </div>
    </div>
</div>
-->

<!--
<p>
    <ngb-alert [dismissible]="false">
        <strong>Warning!</strong> Better check yourself, you're not looking too good.
    </ngb-alert>
</p>
-->



<!--<router-outlet></router-outlet>-->

<!--  rating system not changeable, works finally -->

<!--
<p>NgModel and reactive forms can be used without the 'rate' binding</p>

<div class="form-group">
    <ngb-rating [formControl]="ctrl" [readonly]="readonly" [rate]="10" class="gold-color"></ngb-rating>
</div>
-->

<div class="container-sm">

    <!-- account nav bar here-->
    <div class="row">
        <div class="col-sm">
            <app-nav-bar></app-nav-bar>

        </div>
    </div>

    <!-- game nav bar placement-->
    <div class="row">
        <div class="col-sm">

            <app-play-bar></app-play-bar>
        </div>
    </div>

    <!-- horse information placement-->

    <div class="row">
        <div class="col-sm">
            <!--<ngb-progressbar type="warning" [value]="25"></ngb-progressbar>-->
            <div class="row">


                <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                    <ngb-panel title="Simple">
                        <ng-template ngbPanelContent>
                            left column panel 1 goes here
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel>
                        <ng-template ngbPanelTitle>
                            <span>&#9733; <b>Fancy</b> title &#9733;</span>
                        </ng-template>
                        <ng-template ngbPanelContent>
                            left column panel 2 goes here
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel title="Else">
                        <ng-template ngbPanelContent>
                            left column panel 3 goes here
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>



            </div>
        </div>
        <div class="col-6">
            <p class="col-8">horse picture and other info here</p>
            <img class="col-8" src="/assets/images/horses/horse1.jpg" />
            <p class="col-8">horse picture and other info here</p>

            <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                <ngb-panel title="Simple">
                    <ng-template ngbPanelContent>

                        <p class="col-8 center-text">Rating</p>
                        <div class="col-8 form-group center-text">
                            <ngb-rating [formControl]="ctrl" [readonly]="readonly" [rate]="10" class="gold-color"></ngb-rating>
                        </div>

                        middle column panel 1 goes here
                    </ng-template>
                </ngb-panel>
                <ngb-panel>
                    <ng-template ngbPanelTitle>
                        <span>&#9733; <b>Fancy</b> title &#9733;</span>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        middle column panel 2 goes here
                    </ng-template>
                </ngb-panel>
                <ngb-panel title="Else">
                    <ng-template ngbPanelContent>
                        middle column panel 3 goes here
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>



        </div>
        <div class="col-sm">
            <!-- <ngb-progressbar type="warning" [value]="25"></ngb-progressbar>-->
            <div class="row">

                <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                    <ngb-panel title="Simple">
                        <ng-template ngbPanelContent>
                            right column panel 1 goes here
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel>
                        <ng-template ngbPanelTitle>
                            <span>&#9733; <b>Fancy</b> title &#9733;</span>
                        </ng-template>
                        <ng-template ngbPanelContent>
                            right column panel 2 goes here
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel title="Else">
                        <ng-template ngbPanelContent>
                            right column panel 3 goes here
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>


            </div>
        </div>
    </div>

    <!-- foter goes here placement-->
    <div class="row">
        <div class="col-sm">
            <app-footer></app-footer>
        </div>
    </div>



</div>

<!--<hr>
<pre>Model: <b>{{ ctrl.value }}</b></pre>
<button class="btn btn-sm btn-outline-{{ ctrl.disabled ? 'danger' : 'success'}} mr-2" (click)="toggle()">
  {{ ctrl.disabled ? "control disabled" : " control enabled" }}
</button>
<button class="btn btn-sm btn-outline-primary mr-2" (click)="ctrl.setValue(null)">Clear</button>-->