<div class="ui container-xl">
    <app-mini-bar></app-mini-bar>
    <app-nav-bar></app-nav-bar>
    <!-- account nav bar here-->
    <br>
    <app-play-bar></app-play-bar>
    <!-- game nav bar placement-->
    <br><br>
    <div class="row">
        <!-- horse information placement-->
        <div class="col-sm-3 max-width-column max-width-left">
            <div class="row center-text">
                <p class="no-bottom-margin top-margin">
                    <!-- left panel 1 - Care -->
                    <button type="button" class="btn btn-primary max-width-column card-green card-title no-bottom-margin card-title-border" (click)="isCareCollapsed = !isCareCollapsed" [attr.aria-expanded]="!isCareCollapsed" aria-controls="collapseExample ">
                        Care
                    </button>
                </p>
                <div class="no-top-margin max-width-column" id="collapseExample" [ngbCollapse]="isCareCollapsed">
                    <div class="card card-green bottom-margin">
                        <div class="card-body no-padding">
                            <div class="row no-margin">
                                <!-- row 1 -->
                                <div class="col-3 btn-padding">
                                    <button (click)="FeedButton()" class="btn max-btn-width">
                                        <img class="img-btn-width" src="{{ feedButton }}" />
                                    </button>
                                </div>
                                <div class="col-3 btn-padding">
                                    <button (click)="DrinkButton()" class="btn max-btn-width">
                                        <img class="img-btn-width" src="{{ drinkButton }}" />
                                    </button>
                                </div>
                                <div class="col-3 btn-padding">
                                    <button (click)="StrokeButton()" class="btn max-btn-width">
                                        <img class="img-btn-width" src="{{ strokeButton }}" />
                                    </button>
                                </div>
                            </div>
                            <!-- end of row 1 -->
                            <div class="row no-margin no-padding">
                                <!-- row 2 -->
                                <div class="col-3 btn-padding">
                                    <button (click)="GroomButton()" class="btn max-btn-width">
                                        <img class="img-btn-width" src="{{ groomButton }}" />
                                    </button>
                                </div>
                                <div class="col-3 btn-padding">
                                    <button (click)="CarrotButton()" class="btn max-btn-width">
                                        <img class="img-btn-width" src="{{ carrotButton }}" />
                                    </button>
                                </div>
                                <div class="col-3 btn-padding">
                                    <button (click)="MashButton()" class="btn max-btn-width">
                                        <img class="img-btn-width" src="{{ mashButton }}" />
                                    </button>
                                </div>
                            </div>
                            <!-- end of row 2 -->
                        </div>
                    </div>
                </div>
                <p class="no-bottom-margin top-margin">
                    <!-- left panel 2 - Night -->
                    <button type="button " class="btn btn-primary max-width-column card-green card-title no-bottom-margin card-title-border" (click)="isNightCollapsed = !isNightCollapsed" [attr.aria-expanded]="!isNightCollapsed" aria-controls="collapseExample ">
                        Night
                    </button>
                </p>
                <div class="max-width-column" id="collapseExample " [ngbCollapse]="isNightCollapsed">
                    <div class="card card-green bottom-margin no-padding">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-3 btn-padding">
                                    <button (click)="PutToBedButton()" class="btn max-btn-width">
                                        <img class="img-btn-width" src="{{ putToBedButton }}"/>
                                    </button>
                                </div>
                                <div class="col-3 btn-padding">
                                    <button class="btn max-btn-width disabled">
                                        <img class="img-btn-width"
                                            src="../../assets/images/horse-page-icons/empty-button.png" />
                                    </button>
                                </div>
                                <div class="col-3 btn-padding">
                                    <button (click)="AgeButton()" class="btn max-btn-width">
                                        <img class="img-btn-width" src="{{ ageButton }}"/>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="no-bottom-margin">
                    <!-- left panel 3 - Equestrian Centre -->
                    <button type="button " class="btn btn-primary max-width-column card-green card-title no-bottom-margin top-margin card-title-border" (click)="isECCollapsed = !isECCollapsed" [attr.aria-expanded]="!isECCollapsed" aria-controls="collapseExample ">
                        Equestrian Centre
                    </button>
                </p>
                <div class="max-width-column" id="collapseExample " [ngbCollapse]="isECCollapsed">
                    <div class="card card-green bottom-margin no-padding">
                        <div class="card-body">
                            Your horse is not registered in an Equestrian Centre yet.
                        </div>
                        <div class="card-body">
                            <p class="max-btn-width">
                                <img class="img-btn-width" src="{{ eq_reg_button}}" />Register my horse
                            </p>
                        </div>
                    </div>
                </div>
                <p class="no-bottom-margin">
                    <!-- left panel 4 - History -->
                    <button type="button " class="btn btn-primary max-width-column card-green card-title no-bottom-margin top-margin card-title-border" (click)="isHistoryCollapsed = !isHistoryCollapsed" [attr.aria-expanded]="!isHistoryCollapsed" aria-controls="collapseExample ">
                        History
                    </button>
                </p>
                <div class="max-width-column" id="collapseExample " [ngbCollapse]="isHistoryCollapsed">
                    <div class="card card-green bottom-margin no-padding">
                        <div class="card-body  scrolling-wrapper scroll-height">
                            <div *ngFor="let hist of history | slice:0:10; let i=index">
                                <p> <strong> {{ horse.name }} </strong>{{ hist }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-1 center-text max-width-middle-column">
            <img class="col-xl-12" src="{{ imagePath }} " />
            <div class="card-light-green card-title no-bottom-margin card-title-border">
                {{ horse?.name }}
            </div>
            <div>
                <div class="card card-light-green">
                    <!-- Percent of time remaining-->
                    <div class="row">
                        <div class="positionRelative">
                            <circle-progress class="time-left-padding time-top-padding" [clockwise]="false" [percent]="percent" [radius]="40" [maxPercent]="100" [outerStrokeWidth]="10" [innerStrokeWidth]="4" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="false"
                                [animationDuration]="300" [showBackground]="true" [showTitle]="true" [title]="horse.time.currentHourString + ':' + horse.time.currentMinuteString" [titleFontSize]="16" [titleFontWeight]="700" [showSubtitle]="false" [showUnits]="false"
                                [responsive]="false">
                            </circle-progress>

                        </div>
                        <div class="card-body">
                            <div class="col-10 form-group center-text card-middle-title">
                                Energy
                                <div id="energyBar" class="energyBar"></div>
                            </div>
                            <div class="col-10 form-group center-text card-middle-title">
                                Health
                                <div id="healthBar" class="healthBar"></div>
                            </div>
                            <div class="col-10 form-group center-text card-middle-title">
                                Morale
                                <div id="moraleBar" class="moraleBar"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end of percent of time remaining-->
            </div>
            <!-- Middle panels - Skills   max-width-middle-column center-text card-light-green card-title no-bottom-margin card-title-border-->
            <div class="card-light-green card-title no-bottom-margin card-title-border ">
                Skills
            </div>
            <div class="no-top-margin ">
                <div class="card card-light-green ">
                    <div class="card-body row ">
                        <div class="col-sm-3 form-group card-title ">
                            Skills
                        </div>
                        <div class="col-sm-6 center-text ">nothing here</div>
                        <div class="col-sm-3 center-text card-title ">Total: 1,000</div>
                    </div>
                    <!-- horse stamina-->
                    <div class="card-body row skillRating ">
                        <div class="col-sm-3 form-group bold-title ">
                            Stamina
                        </div>
                        <div class="col-sm-6 ">
                            <ngb-rating [formControl]="ctrl " [readonly]="readonly " [rate]="horse?.stamina / 10 " class="gold-color "></ngb-rating>
                        </div>
                        <div class="col-sm-3 center-text ">{{ horse?.stamina }}</div>
                    </div>
                    <!-- horse speed-->
                    <div class="card-body row skillRating ">
                        <div class="col-sm-3 form-group center-text bold-title ">
                            Speed
                        </div>
                        <div class="col-sm-6 center-text ">
                            <ngb-rating [formControl]="ctrl " [readonly]="readonly " [rate]="horse?.speed / 10 " class="gold-color "></ngb-rating>
                        </div>
                        <div class="col-sm-3 center-text ">{{ horse?.speed }}</div>
                    </div>
                    <!-- horse dressage-->
                    <div class="card-body row skillRating ">
                        <div class="col-sm-3 form-group center-text bold-title ">
                            Dressage
                        </div>
                        <div class="col-sm-6 center-text ">
                            <ngb-rating [formControl]="ctrl " [readonly]="readonly " [rate]="horse?.dressage / 10 " class="gold-color "></ngb-rating>
                        </div>
                        <div class="col-sm-3 center-text ">{{ horse?.dressage }}</div>
                    </div>
                    <!-- horse gallop-->
                    <div class="card-body row skillRating ">
                        <div class="col-sm-3 form-group center-text bold-title ">
                            Gallop
                        </div>
                        <div class="col-sm-6 center-text ">
                            <ngb-rating [formControl]="ctrl " [readonly]="readonly " [rate]="horse?.gallop / 10 " class="gold-color "></ngb-rating>
                        </div>
                        <div class="col-sm-3 center-text ">{{ horse?.gallop }}</div>
                    </div>
                    <!-- horse trot-->
                    <div class="card-body row skillRating ">
                        <div class="col-sm-3 form-group center-text bold-title ">
                            Trot
                        </div>
                        <div class="col-sm-6 center-text ">
                            <ngb-rating [formControl]="ctrl " [readonly]="readonly " [rate]="horse?.trot / 10 " class="gold-color "></ngb-rating>
                        </div>
                        <div class="col-sm-3 center-text ">{{ horse?.trot }}</div>
                    </div>
                    <div class="card-body row skillRating ">
                        <div class="col-sm-3 form-group center-text bold-title ">
                            Jumping
                        </div>
                        <div class="col-sm-6 center-text ">
                            <!-- horse jumping-->
                            <ngb-rating [formControl]="ctrl " [readonly]="readonly " [rate]="horse?.jumping / 10 " class="gold-color "></ngb-rating>
                        </div>
                        <div class="col-sm-3 center-text ">{{ horse?.jumping }}</div>
                    </div>
                </div>
            </div>

            <!-- middle panel - after skills -->
            <div>
                <div class="card card-light-green card-middle-title ">
                    <div class="card-body card-title inline-block ">
                        <div>
                            <p class="margin ">Tack</p>
                        </div>
                        <!---tack popup, Equip my horse, roaa-->
                        <app-modal-options></app-modal-options>
                    </div>
                </div>
            </div>

            <div class="card card-light-green card-middle-title ">
                <div class="card-body card-title hi-light ">
                    <div class="inline-block ">
                        <div>
                            <p class="item-title-margin">Items</p>
                        </div>
                        <div class="item-list-margin">
                            <img *ngFor="let itm of items" alt="{{ itm.name }}" src="{{ itm.imageFile }}" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="card card-light-green ">
                <div class="card-body ">
                    <nav ngbNav #nav="ngbNav" class="nav-tabs card-light-green ">
                        <ng-container ngbNavItem>
                            <a ngbNavLink class="card-light-green ">Characteristics</a>
                            <ng-template ngbNavContent>

                                <div class="col-xl-8 ">
                                    <p>Owner [ <strong>{{ user?.userName }} </strong>]</p>
                                </div>
                                <div class="col-xl-8 ">
                                    <p>Breed [<strong> {{ horse?.breed }} </strong>]</p>
                                </div>
                                <div class="col-xl-8 ">
                                    <p>Age [<strong> {{ horse?.age.year }} years old </strong>]</p>
                                </div>
                                <div class="col-xl-8 ">
                                    <p>Gender [<strong> {{ horse?.gender }}</strong>]</p>
                                </div>

                                <!-- <div>
                                    <p>Species [ {{ horse?.species }} </p>
                                </div> -->
                                <div class="col-xl-8 ">
                                    <p>Coat [ <strong>{{ horse?.color }} </strong>]</p>
                                </div>

                                <div class="card-body card-title ">
                                    Victories
                                </div>
                            </ng-template>
                        </ng-container>
                        <ng-container ngbNavItem>
                            <a ngbNavLink class="card-light-green">Genetic</a>
                            <ng-template ngbNavContent>
                                <p> Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco
                                    ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit,
                                    sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
                            </ng-template>
                        </ng-container>
                        <ng-container ngbNavItem>
                            <a ngbNavLink class="card-light-green">Bonus</a>
                            <ng-template ngbNavContent>
                                <div class="">Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi. Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio.
                                    Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna, egestas ut ipsum vel, volutpat volutpat neque Praesent fringilla tortor arcu. Vivamus faucibus nisl enim,
                                    nec tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies
                                    in eget neque. Phasellus nec tortor vel tellus pulvinar feugiat.</div>
                            </ng-template>
                        </ng-container>
                    </nav>
                    <div [ngbNavOutlet]="nav" class="card-light-green "></div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 max-width-column max-width-right ">
            <div class="row center-text ">
                <p class="no-bottom-margin ">
                    <!--right  panel 1 - Rides-->
                    <button type="button " class="btn btn-primary max-width-column card-green card-title no-bottom-margin card-title-border " (click)="isRidesCollapsed=! isRidesCollapsed " [attr.aria-expanded]="!isRidesCollapsed " aria-controls="collapseExample ">
                        Rides
                    </button>
                </p>
                <div class="max-width-column " id="collapseExample " [ngbCollapse]="isRidesCollapsed ">
                    <div class="card card-green bottom-margin no-padding ">
                        <div class="card-body ">
                            <div class="row ">
                                <div class="col-3 btn-padding ">
                                    <button (click)="ForestButton() " class="btn max-btn-width ">
                                        <img class="img-btn-width " src="{{ forestButton }} " />
                                    </button>
                                </div>
                                <div class="col-3 btn-padding ">
                                    <button class="btn max-btn-width disabled ">
                                        <img class="img-btn-width " src="{{ emptyButton }} " />
                                    </button>
                                </div>
                                <div class="col-3 btn-padding ">
                                    <button (click)="MountainButton() " class="btn max-btn-width ">
                                        <img class="img-btn-width " src="{{ mountainButton }} " />
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="no-bottom-margin ">
                    <!--right panel 2 - Training -->
                    <button type="button " class="btn btn-primary max-width-column card-green card-title no-bottom-margin card-title-border " (click)="isTrainingCollapsed=! isTrainingCollapsed " [attr.aria-expanded]="!isTrainingCollapsed
                                " aria-controls="collapseExample ">
                        Training
                    </button>
                </p>
                <div class="max-width-column " id="collapseExample " [ngbCollapse]="isTrainingCollapsed ">
                    <div class="card card-green bottom-margin no-padding ">
                        <div class="card-body ">
                            <div>
                                <div *ngFor="let train of training">
                                    <p *ngIf="train.done; then thenBlock else elseBlock"></p>
                                    <ng-template #thenBlock>
                                        <p class="training-progress-width">{{ train.name}}
                                            <ngb-progressbar type="success" [value]="50">
                                            </ngb-progressbar> <img src="{{ train.done_image }}" /></p>
                                    </ng-template>
                                    <ng-template #elseBlock>
                                        <p class="training-progress-width">
                                            {{ train.name}}

                                            <ngb-progressbar type="success" [value]="50">
                                            </ngb-progressbar>
                                            <img src="{{ train.not_done_image }}" /></p>
                                    </ng-template>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="no-bottom-margin ">
                    <!--right  panel 3 - Competition -->
                    <button type="button " class="btn btn-primary max-width-column card-green card-title no-bottom-margin card-title-border " (click)="isCompetitionCollapsed=! isCompetitionCollapsed " [attr.aria-expanded]="!isCompetitionCollapsed
                                " aria-controls="collapseExample ">
                        Competition
                    </button>
                </p>
                <div class="max-width-column " id="collapseExample " [ngbCollapse]="isCompetitionCollapsed ">
                    <div class="card card-green bottom-margin no-padding ">
                        <div class="card-body ">
                            <div class="row ">
                                <div class="col-3 btn-padding ">
                                    <button (click)="BarrelComp()" class="btn max-btn-width ">
                                        <img class="img-btn-width " src="{{ BarrelCompButton }} "/>
                                    </button>
                                </div>
                                <div class="col-3 btn-padding ">
                                    <button (click)="CuttingComp()" class="btn max-btn-width ">
                                        <img class="img-btn-width " src="{{ CuttingCompButton }} "/>
                                    </button>
                                </div>
                                <div class="col-3 btn-padding ">
                                    <button (click)=" TrailComp()" class="btn max-btn-width ">
                                        <img class="img-btn-width " src="{{ TrailClassCompButton }} "/>
                                    </button>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-3 btn-padding ">
                                    <button (click)="ReignComp()" class="btn max-btn-width ">
                                        <img class="img-btn-width " src="{{ ReignCompButton }} " />
                                        </button>
                                </div>
                                <div class="col-3 btn-padding ">
                                    <button class="btn max-btn-width disabled ">
                                        <img class="img-btn-width " src="{{ emptyButton }} " />
                                    </button>
                                </div>
                                <div class="col-3 btn-padding ">
                                    <button (click)="WesternPleasureComp()" class="btn max-btn-width ">
                                        <img class="img-btn-width " src="{{ WesternPleasureCompButton }} "/>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="no-bottom-margin ">
                    <!--right  panel 4 - Breeding -->
                    <button type="button " class="btn btn-primary max-width-column card-green card-title no-bottom-margin card-title-border " (click)="isBreedingCollapsed=! isBreedingCollapsed " [attr.aria-expanded]="!isBreedingCollapsed
                                " aria-controls="collapseExample ">
                        Breeding
                    </button>
                </p>
                <div class="card card-green bottom-margin no-padding max-width-column ">
                    <div class="card-body ">
                        <div class="row ">
                            <div class="col-3 btn-padding ">
                                <button class="btn max-btn-width ">
                                    <img class="img-btn-width " src="{{ BreedingInfoButton}} " />
                                </button>
                            </div>
                            <div class="col-3 btn-padding ">
                                <button class="btn max-btn-width disabled ">
                                    <img class="img-btn-width " src="{{ emptyButton }} " />
                                </button>
                            </div>
                            <div class="col-3 btn-padding ">
                                <button class="btn max-btn-width ">
                                    <img class="img-btn-width " src="{{ CoverMareButton}} " />
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <br>
    <app-footer></app-footer>
</div>