/* Move to master styles.css */

.card-title-border {
  border: 2px solid #bebd58;
}

.card-green {
  background-color: #dcdb81;
  color: #663300;
}

.card-light-green {
  background-color: #f0f0b2;
  color: #663300;
}

.gold-color {
  color: rgb(224, 157, 11);
  font-size: 23px;
  padding-left: 5px;
  line-height: 90%;
}

.scrolling-wrapper {
  overflow-x: hidden;
  overflow-y: scroll;
  white-space: wrap;
  display: inline-block;
  text-align: left;
}

.scroll-height {
  max-height: 200px;
}


/* Leave in horse page css */

.training-progress-width {
  width: 150px;
  position: relative;
}

.bold-header {
  font-weight: bold;
}

.gradient {
  background: rgb(242, 6, 6);
  background: linear-gradient(90deg, rgba(242, 6, 6, 1) 0%, rgba(247, 244, 5, 1) 50%, rgba(0, 255, 29, 1) 100%);
}

.center-text {
  text-align: center;
}

.card-title {
  font-weight: bold;
  font-size: 1.1em;
}

.card-header-title {
  font-weight: bolder;
  font-size: 1em;
}

.card-middle-title {
  font-weight: bolder;
  font-size: 1em;
}

.max-btn-width {
  width: 76px;
  padding: 0px;
  margin: 0px;
}

.img-btn-width {
  width: 76px;
  margin: 0px;
  padding: 0px;
}

.max-width-column {
  min-width: 315px;
  max-width: 315px;
}

.max-width-middle-column {
  min-width: 400px;
  width: 100vw;
  max-width: 475px;
  margin-left: 10px;
  margin-right: 10px;
}

.panel-padding {
  padding: 10px;
}

.no-padding {
  padding: 0px;
}

.no-margin {
  margin: 0px;
}

.skillRating {
  margin: 0px;
  padding: 0px;
}

.no-top-margin {
  margin-top: 0px;
}

.no-bottom-margin {
  margin-bottom: 0px;
}

.top-margin {
  margin-top: 1px;
}

.bottom-margin {
  margin-bottom: 20px;
}

.progress-bar {
  background-image: linear-gradient(to right, green, red);
}

#progressbar {
  background-color: white;
  border-radius: 13px;
  padding: 3px;
}

.time-left-padding {
  padding-left: 35px;
}

.time-top-padding {
  padding-top: 50px;
}

.btn-padding {
  padding-left: 10px;
  margin-left: 10px;
}

#progressbar>div {
  background-color: orange;
  background: linear-gradient(90deg, rgba(242, 6, 6, 1) 0%, rgba(247, 244, 5, 1) 50%, rgba(0, 255, 29, 1) 100%);
  width: 70%;
  /* Adjust with JavaScript */
  height: 15px;
  border-radius: 10px;
}

.outer-bar {
  width: 256px;
  background-color: aliceblue;
}

.energyBar {
  width: 1%;
  height: 15px;
  border: 1px solid #663300;
  border-radius: 8px;
  background: linear-gradient(90deg, rgba(242, 6, 6, 1) 0%, rgba(247, 244, 5, 1) 50%, rgba(0, 255, 29, 1) 100%);
}

.moraleBar {
  width: 1%;
  height: 15px;
  border: 1px solid #663300;
  border-radius: 8px;
  background: linear-gradient(90deg, rgba(242, 6, 6, 1) 0%, rgba(247, 244, 5, 1) 50%, rgba(0, 255, 29, 1) 100%);
}

.healthBar {
  width: 1%;
  height: 15px;
  border: 1px solid #663300;
  border-radius: 8px;
  background: linear-gradient(90deg, rgba(242, 6, 6, 1) 0%, rgba(247, 244, 5, 1) 50%, rgba(0, 255, 29, 1) 100%);
}


/*equip my horse*/

.inline-flex {
  display: inline-flex;
}

.inline-block {
  display: block;
}

.padding {
  padding: 1rem;
  margin-left: 1px;
}

.item-list-margin {
  margin-bottom: -7px;
  margin-right: 30%;
}

.item-title-margin {
  margin-right: 80%;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hi-light {
  height: 81px;
}

.positionRelative {
  position: relative;
  margin: auto;
  padding: 0;
}

.percentageValue {
  position: absolute;
  text-align: center
}

@media (min-width: 578px) and (max-width: 767.98px) {
  .max-width-column {
    margin-left: 15%;
    min-width: 273px;
  }

  .max-width-middle-column {
    margin-left: 41px;
    margin-bottom: 5%;
  }

  .padding {
    padding: 0rem;
  }

  /*Moj added */
  .horse-page-main-div {
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: auto auto
  }

  .horse-page-main-div>div:nth-child(2) {
    grid-row: 1/span all;
  }
}


/** Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) and (max-width: 991.98px) {
  .max-width-column {
    margin-left: 50px;
  }

  .max-width-middle-column {
    margin-top: 200px;
    margin-left: -120px;
  }

  .max-width-right {
    margin-top: -740px;
    margin-left: 50%;
  }

  .max-width-left {
    margin-top: 1600px;
  }

  .padding {
    padding: 0rem;
  }

  /*Moj added */
  .horse-page-main-div {
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: auto auto
  }

  .horse-page-main-div>div:nth-child(2) {
    grid-row: 1/span all;
  }
}


/** Large devices (desktops, 992px and up)*/

@media (min-width: 992px) and (max-width: 1199.98px) {
  .max-width-column {
    margin-left: 5%;
  }

  .max-width-middle-column {
    margin-left: 120px;
    margin-bottom: 5%;
    margin-top: 300px;
  }

  .max-width-left {
    margin-top: 650px;
  }

  .max-width-right {
    margin-top: -240px;
  }
}

/*Moj added */
@media (max-width: 767px) {
  .horse-page-main-div {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
  }

  .horse-page-main-div>div:nth-child(2) {
    order: 0;
    padding: 0;
  }

  .horse-page-main-div>div:nth-child(1),
  .horse-page-main-div>div:nth-child(3) {
    order: 1;
  }
}
