<div class="container">
    <div class="row">
        <div>
            <app-nav-bar></app-nav-bar>
            <br><br>
            <app-play-bar></app-play-bar>
            <br>
        </div>
    </div>
    <div class="folder">
        <div class="row "> <!-- Path Information & Picture -->
            <div class="col-md-6 display pad-left small card-title color-tx-maroon">
                <div class="color-tx-green">
                    <i class="home icon"></i>
                    <a class=""> Breeding Farm &nbsp;</a>
                    <i class="angle double right icon"> </i>
                </div>
                <a class=""> Competitions &nbsp;</a>
                <i class="angle double right icon "> </i>
                <a class=""> Create A Competition &nbsp;</a>
            </div>
        </div>
        <div class="row"> <!-- Title & Description -->
            <div class="col-md-6 pad-left color-tx-maroon card-title">
                <hr class="">
                <h3 class="no-top-margin display">Create a Competition</h3>
                <div class="color-tx-green no-top-margin">
                    <p>Create a competition for horses to compete in. </p>
                </div>
            </div>
        </div> <!-- Title End -->
        <div class=""> <!-- competition stats for horse entering-->
            <div class="col-sm-5 pad-left color-tx-maroon ">
                <div class="mycard-light-green ">
                    <div class="h6 sm-card no-bottom-margin">
                        <H5 class="pad-left card-title">Name and </H5>
                    </div>
                    <div class="color-tx-green card-title td-top">
                        <table class="">
                            <tr>
                                <td class="tu-col1">Trot:</td>
                                <td class="tu-col2 sm-card">
                                    ⭐⭐⭐⭐⭐⭐⭐
                                </td>
                                <td class="tu-col3">1000.00</td>
                            </tr>
                            <tr>
                                <td class="tu-col1">Speed:</td>
                                <td class="tu-col2 sm-card">
                                    ⭐⭐⭐⭐⭐⭐
                                </td>
                                <td class="tu-col3">1001.00</td>
                            </tr>
                            <tr>
                                <td class="tu-col1">Dressage:</td>
                                <td class="tu-col2 sm-card">
                                    ⭐⭐⭐⭐⭐
                                </td>
                                <td class="tu-col3">1002.00</td>
                            </tr>
                            <tr>
                                <td class="tu-col1">Energy:</td>
                                <td class="sm-card">100.0 %</td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div> <!-- Stats End -->
        <div class=""> <!-- Lower Competion table-->
            <div class="col-md-12 pad-left ">
                <div class="display">
                    <input type="checkbox">
                    <p class="color-tx-green"> Show competitions for low-level horses</p>
                </div>
                <h5 class="color-tx-maroon card-title">Competitions open to all horses</h5>
                <div class="mytable-light-green">
                    <table class="">
                        <tr class="sm-card">
                            <th class="card-title tl-col1">Name</th>
                            <th class="card-title tl-col3">Kitty</th>
                            <th class="card-title tl-col3">Difficulty</th>
                            <th class="card-title tl-col2">Participants</th>
                            <th class="card-title tl-col3">Ranks</th>
                            <th class="card-title tl-col3">Energy</th>
                            <th class="card-title tl-col4"> </th>
                        </tr>
                        <tr class="color-tx-green">
                            <td class="tl-col1">Ow's Grand Prix</td>
                            <td class="card-title"> 500 
                                <img class="equus" src="./assets/images/game_pieces/equus.png">
                            </td>
                            <td class="card-title tl-col3">17.00%</td>
                            <td class="card-title tl-col1">
                                <table>
                                    <td class="display-vert"> <i class="caret right icon"> </i> Arizona</td>
                                    <td class="display-vert"> <i class="caret right icon"> </i> Cookie</td>
                                    <td class="display-vert"> <i class="caret right icon"> </i> Pistache</td>
                                    <td class="display-vert"> <i class="caret right icon"> </i> Tornade</td>
                                </table> 
                            </td>
                            <td class="card-title tl-col3">1</td>
                            <td class="card-title">12.0 %</td>
                            <td class="tl-col4">
                                <button class="btn-shops btn-shops-lrg">Participate</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div> <!-- folder end-->
</div>    
<br><br>
<app-footer></app-footer>
