<div class="container">
    <div>
        <app-mini-bar></app-mini-bar>
        <app-nav-bar></app-nav-bar>
        <br><br>
        <app-play-bar></app-play-bar>
        <br>
    </div>
    <div class="folder">
        <div class="row "> <!-- Path Information & Picture -->
            <div class="col-md-7 display pad-left small card-title color-tx-maroon no-bottom-margin">
                <div class="color-tx-green ">
                    <i class="home icon"></i>
                    <a class=""> Breeding Farm &nbsp;</a>
                    <i class="angle double right icon"> </i>
                </div>
                <a class=""> Competitions &nbsp;</a>
                <i class="angle double right icon "> </i>
                <a class=""> Create a Competition &nbsp;</a>
            </div>
        </div>
        <div class="row"> <!-- Title & Description -->
            <div class="col-md-6 pad-left color-tx-maroon card-title">
                <hr class="hrtop">
                <br>
                <h3 class="no-top-margin display">Create a Competition</h3>
                <div class="color-tx-green no-top-margin">
                    <p>Create a competition for horses to compete in. </p>
                </div>
            </div>
        </div> <!-- Title End -->
        <div class="display"> <!-- Create a competition form -->
           <div class="col-sm-4">
            <form>
                <div class="display pad-left">
                    <label class="h6" for="compName"  required>Competition Name</label>
                    <input class="form-control"  type="text" #compName />
                </div>
                <div class="display pad-left">
                    <label class="h6" for="breed">Select a Breed</label>
                    <select class="h6 move-left1 sm-card" #breed>
                        <option  *ngFor="let item of allBreeds" [ngValue]="item">{{item.breed}}</option>
                    </select>               
                </div>
                <div class="display pad-left">
                    <label class="h6 label" for="compType">Competition Type</label>
                    <select class="h6 move-left2 sm-card" #compType>
                        <option  *ngFor="let compType of compTypes" [ngValue]="compType">{{compType}}</option>
                    </select>               
                </div>
            </form>
            </div>
            <div class="col-1"></div>
            <div>
                <br><br><br>
                <button class="btn-shops btn-shops-lrg pad-left" 
                (click)="createCompetition(compName.value, breed.value, compType.value)" 
                [routerLink]="['/competition-page']" routerLinkActive="router-link-active" >
                <i class="shopping cart icon "></i>
                100e</button>
            </div>
        </div>
        <hr>
        <div class="row display pad-left">
            <Div class="col-10 card-light-green" >
                <form >
                    <div *ngIf="allCompetitions?.length > 0; else noItems">
                        <table class="pad-left ">
                            <tr class="sm-card td-line">
                                <th class="card-title tl-col1">Competition</th>
                                <th class="card-title tl-col1">Breed Class</th>
                                <th class="card-title tl-col1">Competion Style</th>
                                <th class="card-title tl-col3 centered"><img class="equus pad-left" src="./assets/images/game_pieces/equus.png">Kitty</th>
                                <th class="card-title tl-col2">Difficulty</th>
                                <th class="card-title tl-col3 centered">Ranks</th>
                                <th class="card-title tl-col3 centered">Energy</th>
                                <th class="card-title tl-col4"> </th>
                            </tr>
                            <tr *ngFor="let competitions of allCompetitions">
                                <td class="">{{competitions.compName}}</td>
                                <td class="">{{competitions.breed}}</td>
                                <td class="">{{competitions.compType}}</td>
                                <td class="centered">{{competitions.kitty}}</td>
                                <td class="centered">{{competitions.difficulty}}</td>
                                <td class="centered">{{competitions.ranks}}</td>
                                <td class="centered">{{competitions.energy}}</td>
                            </tr>
                        </table>
                        
                    </div>
                </form>
                <br>
            </Div>
            <ng-template #noItems>
                <h5>There are no Competitions</h5>
            </ng-template>
        </div>
            
        
    </div> <!-- folder end-->
    <br><br>
    <div>
        <app-footer></app-footer>
    </div>
    
</div>    

