<div class="container">
    <div class="row">
        <div>
            <app-nav-bar></app-nav-bar>
            <br><br>
            <app-play-bar></app-play-bar>
            <br>
        </div>
    </div>
    <div class="folder">
        <div class="row "> <!-- Path Information & Picture -->
            <div class="col-md-6 display pad-left small card-title color-tx-maroon no-bottom-margin">
                <div class="color-tx-green ">
                    <i class="home icon"></i>
                    <a class=""> Breeding Farm &nbsp;</a>
                    <i class="angle double right icon"> </i>
                </div>
                <a class=""> Competitions &nbsp;</a>
                <i class="angle double right icon "> </i>
                <a class=""> Create a Competition &nbsp;</a>
            </div>
        </div>
        <div class="row"> <!-- Title & Description -->
            <div class="col-md-6 pad-left color-tx-maroon card-title">
                <hr class="">
                <h3 class="no-top-margin display">Create a Competition</h3>
                <div class="color-tx-green no-top-margin">
                    <p>Create a competition for horses to compete in. </p>
                </div>
            </div>
        </div> <!-- Title End -->
        <div class="">
            <form action="">
                <div class="display pad-left">
                    <label class="h6" for="comp_name">Competition Name</label>
                    <input class="form-control"  type="text"  />
                </div>
                <div class="display pad-left">
                    <label class="h6" for="breed">Select a Breed</label>
                    <input class="form-control move-left"  type="text" />
                </div>
                <div>
                    <button class="btn-shops btn-shops-lrg pad-left">Create</button>
                </div>
            </form>
        </div>
        
        
    </div> <!-- folder end-->
</div>    
<br><br>
<app-footer></app-footer>
