<div>
    <img class=" card st-img box-img" src="\assets\images\tack-page\">
    <i class="up-arrow caret up icon "></i>
    <div *ngIf="list?.length > 0;else noAllEquipment">
    <ul *ngFor="let equipment of list" >
    <li class="equipment-box" >
        <img src="{{ buildpath(equipment.img_file)    }}" />

        <p class="equipment-text"><strong>{{equipment.name}}</strong></p>
        <p class="equipment-text">Color: {{equipment.color}}</p>
        <p class="equipment-text">Dressage:+ {{equipment.dressage_}}</p>
        <p class="equipment-text">Gallop:+ {{equipment.gallop_}}</p>
        <p class="equipment-text">Speed:+ {{equipment.speed_}}</p>
        <p class="equipment-text"> Stamina:+ {{equipment.stamina_}} </p>
        <p class="equipment-text"> Trot:+ {{equipment.trot_}} </p>
        <p class="equipment-text">Jumping:+ {{equipment.jumping_}}</p>
    </li>
    </ul>
</div>
<ng-template #noAllEquipment>
    <hr>
    <h5>There is no list to display</h5>
</ng-template>
</div>