<div class="container">
    <div>
        <app-mini-bar></app-mini-bar>
        <app-nav-bar></app-nav-bar>
        <br><br>
        <app-play-bar></app-play-bar>
        <br>
    </div>
    <div class="folder">
        <div class="col-md-6 display pad-left small card-title color-tx-maroon no-bottom-margin">
            <div class="color-tx-green ">
                <i class="home icon"></i>
                <a class=""> Equestrian Centre</a>
                <i class="angle double right icon"> </i>
                <a class="color-tx-maroon"> Register</a>
            </div>
            <h2>
                <br>
                <p class="color-tx-maroon">Board a horse</p>
            </h2>
            <p class="color-tx-green">The prestige and cleanliness of the centre that you choose has a significant impact on the wellness of your horse. Before you make a decision, feel free to visit each centre.</p>
        </div>
        <br>
        <h3>
            <p class="color-tx-maroon pad-left">Choose an equestrian centre</p>
        </h3>
        <br>
        <table class="pad-left ">
            <tr class="sm-card td-line ">
                <th class="card-title comp-cell-width ">Competition</th>
                <th class="card-title breed-cell-width ">Breed Class</th>
                <th class="card-title compType-cell-width ">Competition Style</th>
                <th class="card-title kitty-cell-width "><img class="equus pad-left " src="./assets/images/game_pieces/equus.png ">Kitty</th>
                <th class="card-title difficult-cell-width ">Difficulty</th>
                <th class="card-title ranks-cell-width ">Ranks</th>
                <th class="card-title energy-cell-width ">Energy</th>
                <!-- <th class="card-title tl-col4 "> </th>-->
            </tr>
        </table>
        <form class="scrolling-wrapper scroll-height">
            <div *ngIf="allCompetitions?.length> 0; else noItems">
                <table class="pad-left ">
                    <tr *ngFor="let competitions of allCompetitions">
                        <input type="radio" />
                        <td class="comp-cell-width">{{competitions.compName}}</td>
                        <td class="breed-cell-width">{{competitions.breed}}</td>
                        <td class="compType-cell-width">{{competitions.compType}}</td>
                        <td class="kitty-cell-width centered">{{competitions.kitty}}</td>
                        <td class="difficult-cell-width centered">{{competitions.difficulty}}</td>
                        <td class="ranks-cell-width centered">{{competitions.ranks}}</td>
                        <td class="energy-cell-width centered">{{competitions.energy}}</td>
                    </tr>
                </table>
            </div>
        </form>
        <ng-template #noItems>
            <h5>There are no Competitions</h5>
        </ng-template>
    </div>
    <div>
        <br>
        <app-footer></app-footer>
    </div>
</div>