.radio-size {
  height: 20px;
  width: 20px;
}

.form-control.ng-touched.ng-invalid {
  border-left: 5px solid red;
}

input {
  font-size: 1.2em;
  width: 300px;
  margin-bottom: 0.3em;
}

.alert-danger {
  width: 42%;
}

a:not([href]) {
  font: 18px Arial, Helvetica, sans-serif;
}

p:last-child {
  font: 16px Arial, Helvetica, sans-serif;
  padding-left: 1%;
}

.color-white {
  color: #fff;
}

a {
  color: #e5ff70;
}

.btn-group-lg > .btn,
.btn-lg {
  padding: 0.5rem 8rem;
}

.center {
  text-align: center;
  padding-right: 56%;
}

.form-check-input {
  margin-top: 0.5rem;
  margin-left: -21.25rem;
}

.alert {
  padding: 0.3rem 1.25rem;
}
