.img-size{
    height: 78px;
    width: 261px;
    padding-top: 20px;
}

.img-size-sm{
    margin-top: -40%;
    margin-left: 110%;
    height: 19px;
}

h1{
    margin-left: 34%;
}

.font-md{
    font-size: 17px;
}

.inline-block{
    display: block;
}

.inline-flex{
    display: inline-flex;
}

.best-skill{
    margin-top: -58px;
    margin-left: 24%;
}

/*****Moj*******/
input[name="coatColor"], input[name="horseName"], input[name="horseSkill"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}  

.checkmark {
    position:absolute;
    margin-left: 20%;
    height: 22px;
    width: 22px;
    border: 2px solid #c5bebb;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}

.checkmark:hover {
     border:2px solid white;
     background-color:  #d8d5d3;
   
}

#horseName input:checked ~ .checkmark{
    padding: 5px;
    margin-top: -2px;
    height: 25px;
    width: 25px;
    background-color:#E5FF70;
    border-color: white;
}

#coatColor input:checked ~ .coatColor{
    height: 35px;
    width: 35px;
    border-color: white;

}


#horseSkill input:checked ~ .horseSkill{
    padding: 1px;
    border: 2px solid #3d251b;
    width: 125px;
    border-radius: 40px;
    padding-top: 5%;
    margin-left: 45%;
}

.horseSkill{
    padding: 1px;
    background: rgba(74,84,58,.4);
    width: 131px;
    border-radius: 40px;
    padding-top: 5%;
    margin-left: 42%;
    color: #fff;
    box-sizing: border-box;
    display: inline-block;
}

.coatColor {
    padding: 1px;
    border: 2px solid rgb(133, 70, 91);
    width:30px;
    height: 30px;
    border-radius: 50%;
}

.coatColor:hover {
    border-color: rgb(182, 122, 142);
    cursor: pointer;
}