<div class="container">
    <div class="row">
        <div class="col-md-2">
            <img class="img-size" src="./assets/images/Project Samples/howrse.png">
            <img class="img-size-sm" src="./assets/images/game_pieces/wold-map.PNG">
            <!-- <h1>Sign up Today . . .</h1> -->
        </div>
    </div>
    <br><br>
<h1 class="color-white">Choose a Horse</h1>
    <div class="row align-items-center">
        <div class="col-sm">
            <form class="color-white font-md breed-form">
                <div class="circle-left"></div>
                <div class="text-right breed-item" *ngFor="let breed of allBreeds" >
                    <label class="d-inline-flex align-middle breed-label">
                        {{breed.breed}}
                        <input class="breed-input" type="radio" [id]="breed.breed" name="horseName" [value]="breed.breed" [checked]="breed.breed === allBreeds[0].breed?'checked': false" (click)="getSkill($event)">
                        <span class="breed-checkmark radio-border"></span>
                    </label>
                </div>
                <div class="text-right">
                    <label class="d-inline-flex align-middle breed-label">
                        Unlock new breeds
                        <input type="radio" [id]="" name="horseName" value="Unlock new breeds">
                        <span class="breed-checkmark radio-border"></span>
                    </label>
                </div>
            </form>
        </div>
        <div>
            <img src="../../assets/images/horses/akhal_teke/alz-b.png">
            <div> {{skill}}</div>
        </div>
      
        <div class="col-sm coat-div">
            <form class="color-white font-md coat-form">
                <div class="circle-right"></div>
                <div class="text-left coat-item" *ngFor="let color of allColors">
                    <label class="d-inline-flex align-middle coat-label">
                        <input class="coat-input" type="radio" [id]="" name="coatColor" [value]="color.color" [checked]="color.color === allColors[0].color?'checked': false" >
                        <img class="img-fluid coat-image radio-border" src="../../assets/images/game_pieces/play.png">
                        {{color.color}}
                    </label>
                </div>
                <div id="getCoat" class="text-left coat-item">
                    <label class="d-inline-flex align-middle coat-label">
                        <input class="coat-input" type="radio" [id]="" name="coatColor" value="Unlock new coats">
                        <img class="img-fluid coat-image radio-border" src="../../assets/images/game_pieces/play.png">
                        Unlock new coats
                    </label>
                </div>
            </form>
        </div>
    </div>
</div>
<div >
    <!-- <form id="horseSkill" class="col-sm color-white font-md horseSkill">
        <h5 class="best-skill">Best Skill</h5>
        <div *ngFor="let horseSkill of horseCollection.horses" >
            <label id="horseSkill" class="">
                <input [id]="horseSkill" name="horseSkill" [value]="horseSkill"  [(ngModel)]="selectedHorseSkill" [checked]="horseSkill==horseCollection.horses[horseIndex].skill[0]?'checked':false">
                {{horseSkill}}
                <br>
            </label>
        </div>
    </form> -->
</div>

<br>
<app-sign-form></app-sign-form>
<br>
<app-footer></app-footer>
