.img-size {
    height: 78px;
    width: 261px;
    padding-top: 20px;
}

.img-size-sm {
    margin-top: -40%;
    margin-left: 110%;
    height: 19px;
}

h1 {
    text-align: center;;
}

.font-md {
    font-size: 17px;
}

.inline-block {
    display: block;
}

.inline-flex {
    display: inline-flex;
}

h5:first-child {
    margin-top: 8px;
    margin-bottom: 2px;
}

h5, .h5 {
    font-size: 1.25rem;
}

.breed-div *, .coat-div * {
    box-sizing: border-box;
} 

input[name="coatColor"], input[name="horseName"], input[name="horseSkill"] { 
    position: absolute;
    opacity: 0;
    cursor: pointer;
}  

.radio-border {
    margin-left: 10px;
    display: inline-block;
    height: 30px;
    width: 30px;
    border: 2px solid #c5bebb;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}

.breed-label:hover .radio-border, .coat-label:hover .radio-border {
    border:2px solid white;
    background-color:  #d8d5d3;
}

/***** Breed Part *****/
.breed-item {
    margin: 12px auto;
}

.breed-label input:checked ~ .breed-checkmark{
    padding: 5px;
    margin-top: -2px;
    height: 35px;
    width: 35px;
    background-color:#E5FF70;
    border-color: white;
}

/***** Coat Part *****/
.coat-item {
    margin: 12px auto;
}

.coat-form img {
    margin-right: 10px;
    width: 30px;
    height: 30px;
}

.coat-label input:checked ~ .radio-border {
    margin-top: -3px;
    padding: 1px;
    height: 35px;
    width: 35px;
    border-color: white;
}

#horseSkill input:checked ~ .horseSkill {
    padding: 1px;
    border: 2px solid #3d251b;
    width: 125px;
    border-radius: 40px;
    padding-top: 5%;
    margin-left: 47%;
}

.skill {
    padding: 5px 2px;
    width: 50%;
    margin: auto;
    background: rgba(74,84,58,.4);
    border-radius: 40px;
    color: #fff;
    box-sizing: border-box;
    display: inline-block;
}

/**** shape-outside part ****/
.circle-right {
    margin: auto auto;
    float: left;
    width: 180px;
    height: 390px;
    /* shape-outside: polygon(0% 0%, 50% 16.25%, 80% 33.5%, 100% 50%, 80% 67.5%, 60% 84%, 0% 100%); */
    shape-outside: circle(175px at -30% 48.5%);
}

.circle-left {
    margin: auto auto;
    float: right;
    width: 180px;
    height: 390px;
    shape-outside: circle(175px at 110% 50%);
}
