<div class="container">
    <div class="row">
        <div class="col-md-2">
            <img class="img-size" src="./assets/images/Project Samples/howrse.png">
            <img class="img-size-sm" src="./assets/images/game_pieces/wold-map.PNG">
            <!-- <h1>Sign up Today . . .</h1> -->
        </div>
    </div>
    <br><br>
<h1 class="color-white">Choose a Horse</h1>
    <div class="row">
        <form class="form-inline col-sm color-white font-md">
            <div class="col-sm-11 " *ngFor="let horse of horseCollection.horses">
                <label id="horseName" class=" justify-content-end">
                    {{horse.name}}
                    <input type="radio" [id]="horse.name" name="horseName" [value]="horse.name" [checked]="horse.name == 'Paint Horse'?'checked':false"  (click)="horseSelected($event)">
                    <span class="checkmark"></span>
                    <br>
                </label>
            </div>
        </form>
        <img class="col-sm" src="../../assets/images/horses/{{selectedHorseName}}/{{selectedCoatName}}.png">
        
        <form id="coatForm" class="form-inline col-sm color-white font-md">
            <div class="col-sm-11" *ngFor="let coatColor of horseCollection.horses[horseIndex].coat">
                <label id="coatColor" class=" justify-content-start">
                    <input class="" type="radio" [id]="coatColor" name="coatColor" [value]="coatColor"  [(ngModel)]="selectedCoatName" [checked]="coatColor==horseCollection.horses[horseIndex].coat[0]?'checked':false">
                    <img class="coatColor" src="../../assets/images/coats/{{coatColor.toLowerCase()}}.png">
                    {{coatColor}}
                    <br>
                </label>
            </div>
        </form>
    </div>
</div>
<div >
    <form id="horseSkill" class="col-sm color-white font-md horseSkill">
        <h5 class="best-skill">Best Skill</h5>
        <div *ngFor="let horseSkill of horseCollection.horses" >
            <label id="horseSkill" class="">
                <input [id]="horseSkill" name="horseSkill" [value]="horseSkill"  [(ngModel)]="selectedHorseSkill" [checked]="horseSkill==horseCollection.horses[horseIndex].skill[0]?'checked':false">
                {{horseSkill}}
                <br>
            </label>
        </div>
    </form>
</div>

<br>
<app-sign-form></app-sign-form>
<br>
<app-footer></app-footer>
