<app-nav-bar></app-nav-bar>
<br><br>
<div class="container inline-flex flex-center">
    <div>
        <img class="img-size" src="./assets/images/home-page/gr-pml.png">
    </div>
<div>
    <h2 class="align-right inscription-legend">Coats</h2>  
    <ul>
        <li>
            <label for="">
                <input type="radio">  Bay
            </label>
        </li>
        <li>
            <label for="">
                <input type="radio"> Chestnut
            </label>
        </li>
        <li>
            <label for="">
                <input type="radio"> Cherry bay
            </label>
        </li>
        <li>
            <label for="">
                <input type="radio"> Dark Bay
            </label>
        </li>
        <li>
            <label for="">
                <input type="radio"> Black
            </label>
        </li>
        <li>
            <label for="">
                <input type="radio"> Liver chesrnut
            </label>
        </li>
        <li>
            <label for="">
                <input type="radio"> Dapple Gray
            </label>
        </li>
    </ul>
</div>
    

</div>
<br><br>
<app-sign-form></app-sign-form>
<br>
<app-footer></app-footer>
