ul li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
  background-color: #2685ba;
  font: 18px Arial, Helvetica, sans-serif;
}

.btn-primary {
  background-color: #2685ba;
}

.ui.menu {
  display: flex;
  margin: 1rem 0;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  background: none;
  font-weight: 400;
  border: none;
  box-shadow: none;
  border-radius: .28571429rem;
  min-height: 2.85714286em;
}


@media (min-width: 600px) and (max-width: 991.98px) { 
  
  .ui.menu {
    display: inline-block;
    margin: 1rem 0;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    background: none;
    font-weight: 400;
    border: none;
    box-shadow: none;
    border-radius: .28571429rem;
    min-height: 2.85714286em;
  }
  }
 
 /*  Large devices (desktops, 992px and up) */
 @media (min-width: 992px) and (max-width: 1199.98px) { 
  .ui.menu {
    display: inline-block;
    margin: 1rem 0;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    background: none;
    font-weight: 400;
    border: none;
    box-shadow: none;
    border-radius: .28571429rem;
    min-height: 2.85714286em;
  }
 }

  
 
 