<div class="container row play-bar-mini">
    <div class="col-md-11">
        <div class="nav ">
            <ul class="ui  menu">
                <li ngbDropdown class="nav-item">
                    <a href (click)="(false)" class="nav-link" ngbDropdownToggle>
                        <i class="chess knight icon"></i>Breeding Farm</a>
                    <div ngbDropdownMenu>
                        <a routerLink="/horse-list"><button ngbDropdownItem>
                                <i class="chess knight icon"></i>Horse List</button>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a><button ngbDropdownItem class="disabled">
                                <i class="chess knight icon"></i> Horses</button>
                        </a>
                        <div class="dropdown-divider"></div>
                        <button ngbDropdownItem class="disabled">Competition Results</button>
                    </div>
                </li>
                <li ngbDropdown class="nav-item">
                    <a href (click)="(false)" class="nav-link" ngbDropdownToggle><i class="building outline icon"></i>
                        Equestrian
                        Center</a>
                    <div ngbDropdownMenu>
                        <button ngbDropdownItem class="disabled">Mangement</button>
                        <div class="dropdown-divider"></div>
                        <button ngbDropdownItem class="disabled">Boxes</button>
                        <div class="dropdown-divider"></div>
                        <button ngbDropdownItem class="disabled">Meadows</button>
                        <div class="dropdown-divider"></div>
                        <button ngbDropdownItem class="disabled">Workshops</button>
                        <div class="dropdown-divider"></div>
                        <a routerLink="/competition-page"><button ngbDropdownItem>
                                <i class="trophy icon"></i> Competitions
                            </button></a>
                        <div class="dropdown-divider"></div>
                        <button ngbDropdownItem class="disabled">Employees</button>
                    </div>
                </li>
                <li ngbDropdown class="nav-item">
                    <a href (click)="(false)" class="nav-link" ngbDropdownToggle><i class="handshake outline icon"></i>
                        Trade</a>
                    <div ngbDropdownMenu>
                        <a routerLink="/horse-sale"><button ngbDropdownItem>
                                <i class="dollar sign icon"></i> Horse Sale
                            </button></a>
                        <div class="dropdown-divider"></div>
                        <a routerLink="/store-page"><button ngbDropdownItem>
                                <i class="shopping bag icon"></i> Store
                            </button></a>
                        <div class="dropdown-divider"></div>
                        <button ngbDropdownItem class="disabled">Item Exchange</button>
                        <div class="dropdown-divider"></div>
                        <a routerLink="/bmarket-page"><button ngbDropdownItem>
                                <i class="user secret icon"></i> Black Market
                            </button></a>
                        <div class="dropdown-divider"></div>
                        <button ngbDropdownItem class="disabled">Piggy Bank</button>
                    </div>
                </li>
                <li ngbDropdown class="nav-item">
                    <a href (click)="(false)" class="nav-link" ngbDropdownToggle><i class="users icon"></i>
                        Community</a>
                    <div ngbDropdownMenu>
                        <button ngbDropdownItem class="disabled">Friends</button>
                        <div class="dropdown-divider"></div>
                        <button ngbDropdownItem class="disabled">Directories</button>
                        <div class="dropdown-divider"></div>
                        <button ngbDropdownItem class="disabled">Forums</button>
                        <div class="dropdown-divider"></div>
                        <button ngbDropdownItem class="disabled">Equestrian Forum</button>
                        <div class="dropdown-divider"></div>
                        <button ngbDropdownItem class="disabled">Events</button>
                        <div class="dropdown-divider"></div>
                        <button ngbDropdownItem class="disabled">Game Play</button>
                        <div class="dropdown-divider"></div>
                        <button ngbDropdownItem class="disabled">
                            Equsetrian Center Classifieds
                        </button>
                        <div class="dropdown-divider"></div>
                        <button ngbDropdownItem class="disabled">Invite Players</button>
                        <div class="dropdown-divider"></div>
                        <a routerLink="/competitions"><button ngbDropdownItem>
                                <i class="money bill alternate icon"></i> Creation Space
                            </button></a>
                    </div>
                </li>
                <li ngbDropdown class="nav-item">
                    <a href (click)="(false)" class="nav-link" ngbDropdownToggle>
                        <i class="flag checkered icon"></i>Achievements</a>
                    <div ngbDropdownMenu>
                        <button ngbDropdownItem class="disabled">Objectives</button>
                        <div class="dropdown-divider"></div>
                        <button ngbDropdownItem class="disabled">General Ranking</button>
                        <div class="dropdown-divider"></div>
                        <button ngbDropdownItem class="disabled">Best Breeders</button>
                        <div class="dropdown-divider"></div>
                        <button ngbDropdownItem class="disabled">Best Horses</button>
                        <div class="dropdown-divider"></div>
                        <button ngbDropdownItem class="disabled">
                            Best Equestrian Centers
                        </button>
                        <div class="dropdown-divider"></div>
                        <button ngbDropdownItem class="disabled">Best Teams</button>
                        <div class="dropdown-divider"></div>
                        <button ngbDropdownItem class="disabled">Creation Ranking</button>
                        <div class="dropdown-divider"></div>
                        <button ngbDropdownItem class="disabled">Trophies</button>
                        <div class="dropdown-divider"></div>
                        <button ngbDropdownItem class="disabled">Special Horses</button>
                        <div class="dropdown-divider"></div>
                        <button ngbDropdownItem class="disabled">Collections</button>
                    </div>
                </li>
                <li>
                    <div class="col-md-1">
                        <a><button type="button" class="btn btn-primary">
                                <i class="question icon"></i></button>
                       </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
