<div class="row">
    <div class="col-md-11">
        <div class="nav">
            <ul class="d-flex justify-content-center mx-auto">
                <li ngbDropdown class="nav-item">
                    <a href (click)="false" class="nav-link" ngbDropdownToggle>Breeding Farm</a>
                    <div ngbDropdownMenu>
                      <button ngbDropdownItem>Office</button>
                      <div class="dropdown-divider"></div>
                      <button ngbDropdownItem>Horses</button>
                      <div class="dropdown-divider"></div>
                      <button ngbDropdownItem>Competition results</button>
                    </div>
                </li>
                <li ngbDropdown class="nav-item">
                    <a href (click)="false" class="nav-link" ngbDropdownToggle>Equestrian center</a>
                    <div ngbDropdownMenu>
                      <button ngbDropdownItem>Mangement</button>
                      <div class="dropdown-divider"></div>
                      <button ngbDropdownItem>Boxes</button>
                      <div class="dropdown-divider"></div>
                      <button ngbDropdownItem>Meadows</button>
                      <div class="dropdown-divider"></div>
                      <button ngbDropdownItem>Workshops</button>
                      <div class="dropdown-divider"></div>
                      <button ngbDropdownItem>Competition</button>
                      <div class="dropdown-divider"></div>
                      <button ngbDropdownItem>Employees</button>
                    </div>
                </li>
                <li ngbDropdown class="nav-item">
                    <a href (click)="false" class="nav-link" ngbDropdownToggle>Trade</a>
                    <div ngbDropdownMenu>
                      <button ngbDropdownItem>Horse sales</button>
                      <div class="dropdown-divider"></div>
                      <button ngbDropdownItem>Store</button>
                      <div class="dropdown-divider"></div>
                      <button ngbDropdownItem>Item exchange</button>
                      <div class="dropdown-divider"></div>
                      <button ngbDropdownItem>Black market</button>
                      <div class="dropdown-divider"></div>
                      <button ngbDropdownItem>Piggy Bank</button>
                    </div>
                </li>
                <li ngbDropdown class="nav-item">
                    <a href (click)="false" class="nav-link" ngbDropdownToggle>Community</a>
                    <div ngbDropdownMenu>
                      <button ngbDropdownItem>Friends</button>
                      <div class="dropdown-divider"></div>
                      <button ngbDropdownItem>Directories</button>
                      <div class="dropdown-divider"></div>
                      <button ngbDropdownItem>Forums</button>
                      <div class="dropdown-divider"></div>
                      <button ngbDropdownItem>Equestrian Forum</button>
                      <div class="dropdown-divider"></div>
                      <button ngbDropdownItem>Events</button>
                      <div class="dropdown-divider"></div>
                      <button ngbDropdownItem>Game play</button>
                      <div class="dropdown-divider"></div>
                      <button ngbDropdownItem>Equsetrian Center Classifieds</button>
                      <div class="dropdown-divider"></div>
                      <button ngbDropdownItem>Invite players</button>
                      <div class="dropdown-divider"></div>
                      <button ngbDropdownItem>Creation space</button>
                      <div class="dropdown-divider"></div>
                    </div>
                </li>
                <li ngbDropdown class="nav-item">
                    <a href (click)="false" class="nav-link" ngbDropdownToggle>Achievements</a>
                    <div ngbDropdownMenu>
                      <button ngbDropdownItem>Objectives</button>
                      <div class="dropdown-divider"></div>
                      <button ngbDropdownItem>General ranking</button>
                      <div class="dropdown-divider"></div>
                      <button ngbDropdownItem>Best breeders</button>
                      <div class="dropdown-divider"></div>
                      <button ngbDropdownItem>Best horses</button>
                      <div class="dropdown-divider"></div>
                      <button ngbDropdownItem>Best Equestrian centers</button>
                      <div class="dropdown-divider"></div>
                      <button ngbDropdownItem>Best teams</button>
                      <div class="dropdown-divider"></div>
                      <button ngbDropdownItem>Creation ranking</button>
                      <div class="dropdown-divider"></div>
                      <button ngbDropdownItem>Trophies</button>
                      <div class="dropdown-divider"></div>
                      <button ngbDropdownItem>Special Horses</button>
                      <div class="dropdown-divider"></div>
                      <button ngbDropdownItem>Collections</button>
                    </div>
                </li>
                <li><div class="col-md-1">
                    <button type="button" class="btn btn-primary">?</button>
                </div></li>
            </ul>
        </div>
    </div>
</div>
