.card-light-green {
    background-color: #f0f0b2;
    color: #663300;
    border-style: solid 2px #663300 ;
    border-radius: 5px;
    margin-bottom: 20px;
}
  
.card-title {
  font-weight: bold;
}
  
.no-top-margin {
  margin-top: 0px;
}
  
.no-bottom-margin {
   margin-bottom: 0px;
}

.display {
  display: flex;
  margin-top: 5px;
}
.pad-left {
  /* common spacing to set left margin in folder */
  margin-left: 1rem;
}

.h6 {
  padding: 4px 0 4px 5px;
  color: maroon;
  width: 120px;
}
  
.label {
  margin-top: -6px;
}
  
p {
  margin-bottom: 5px;
}
  
.centered {
  justify-content: center;
  padding-top: 25px;
}
  
.move-left1 {
  margin-left: -18px;
  width: 140px;
  margin-top: 2px;
  margin-bottom: 2px;
}
  
.sm-card {
  background-color: #dcdb81;
  border-style: solid 2px olive;
}
  
.sm-text {
  font-size: smaller;
}
  
.image {
  margin-left: 67px;
}

td {
  width: 130px;
  padding-left: 5px;
  height: 40px;
  padding-top: 5px;;
}

.row-head{
  background-color: #DCDB81;
  border: 2px solid rgb(192, 189, 113);
}

.table-left{
  margin-left:40px;
}

.btn-shops-lrg{
  width:130px;
}

.mare-img-size {
  margin-left:150px;
  width: 75%;
  margin-top: -5rem;
}